[2014-04-17 20:45] mikesamuel opened #1 "Add Python support"
Migrated from https://code.google.com/p/closure-templates/issues/detail?id=1

---

Reported by dinoboff, Nov 8, 2009
It would be great to be able to compile Soy templates to Python.

Project Member  #1 kai.huang
Sorry, there are no current plans to add Python support.
Status: WontFix 
Labels: ­Type­Defect Type­Enhancement 
#2 dolapo

would you take outside contributions for this?

Project Member  

[2014-06-29 18:42] matiwinnetou opened #4 "Publish latest release to maven repository"
I am not sure, who has permissions to publish to maven repository for com.google.template but it would be nice to see latest released published there. I could help with that but I lack permissions.

http://mvnrepository.com/artifact/com.google.template/soy

[2014-07-02 11:31] eriktim opened #5 "getHackySoyFileSetFactory warning"
I updated my plovr fork to use the latest closure-\* repositories. However, I get the following warning from closure-templates:

Maybe it's part of the _hacky_ method name, but I just wanted to be sure.

[2014-07-04 07:20] #5 closed, assigned to nobody

[2014-08-12 07:36] hitsthings opened #8 "|truncate directive acts on escaped content, but should act on pre-escaped content"
`{'12"45"'|truncate:6}` is printed as `12&...` because it acts on the expanded HTMl entities like `&quot;`
`{'12"45"'|truncate:6|escapeHtml}` forces ordering and is printed as `12"45"` (the HTML source is `12&quot;45&quot;`)

I can't see the usefulness of acting on the escaped HTML and it causes artifacts (like ampersands) to appear in your output HTML, so the latter behavior seems more sane by de

[2014-09-04 15:53] ChadKillingsworth opened #10 "soyutils_usegoog.js references goog.soy.data.SanitizedContentKind.JS_STR_CHARS which has been removed"
See google/closure-library#344

[soyutiles_usegoog.js](https://github.com/google/closure-templates/blob/master/javascript/soyutils_usegoog.js#L219) references `goog.soy.data.SanitizedContentKind.JS_STR_CHARS` which was removed in google/closure-library@3b76ed330636d4ed3feb8fafbacf4fd9613b52f1

[2014-09-09 13:02] nicks opened #11 "SoyAutoescapeException: Error while re-contextualizing template"
This template blows up the compiler

[code]

Here's the stack trace:

[code]

This is using Closure templates release 2014-04-22.

[2014-09-22 10:29] koto opened #12 "Cannot build generated-soyutils"
After cloning the HEAD of the repo, I cannot build the generated-soyutils target. It errors out with **taskdef class com.google.template.soy.shared.internal.GenerateSoyUtilsEscapingDirectiveCode cannot be found**.

[code]

[2014-10-08 10:36] igorspasic opened #14 "Kickstart this project properly!"
We do not understand why Google is not putting more energy into this project? It was cool, but soon it staled, without any improvements in years!

Please, kickstart this project properly:

+ close old Google code project and put a link to this repo;
+ update official page with new repo link;
+ migrate issues (that make sense) from old repo to this new repo;
+ add README etc.
+ explain the status o

[2014-10-10 16:04] #12 closed, assigned to nobody

[2014-10-10 16:06] #10 closed, assigned to nobody

[2014-10-10 17:57] Ubehebe opened #15 "Remove generated stuff from source control"
This repo contains a lot of generated documentation (two sets of JavaDocs?) and code that is built from upstream. This stuff creates noise in the commit logs and causes churn when synchronizing from Google's internal sources. I also suspect they are rarely useful. Would anyone mind if we removed them?

[2014-10-28 14:36] lfac-pt opened #16 "Missing README"
As per #14 it would be nice for this project to have a proper README, with:
- Short project description and status (if it being maintained and by who)
- Link to documentation
- Changelog (alternatively we could have a CHANGELOG file)
- Licence
- (Something else?)

I can try to work out a pull request if the core devs feel this is something can the community can do.

[2014-11-11 21:32] dandv opened #17 "Add GitHub repo description"
Would be nice to see it in the list at https://github.com/google. Thanks!

[2014-11-11 22:04] #17 closed, assigned to nobody

[2014-12-12 18:29] #16 closed, assigned to nobody

[2014-12-24 23:47] bregenspan opened #18 "Feature Request: Support for defining RequireJS/AMD packages"
When Closure Templates was maintained on Google Code, someone submitted a patch to allow building out JS as AMD modules: https://code.google.com/p/closure-templates/issues/detail?id=29 .  This feature would be very useful for us at Gawker Media, so I was wondering whether outside contributions like this are being considered for inclusion now that the project has migrated?

[2015-01-02 20:44] matiwinnetou commented on #4
I actually don't think google has any desire to release to maven central, this task has to be carried out by a community member.

[2015-01-09 18:55] Ubehebe commented on #1
This is underway. See e893159f0c4e187080c28268fb28c67bbba84fd6 and 999749c4d9748eee8caa7eba57783734d1c03a49.

[2015-01-09 19:00] Ubehebe commented on #4
@matiwinnetou @tbroyer After moving some source code around internally, we're now able to accept PRs ([directions](https://github.com/google/closure-templates/blob/master/CONTRIBUTING.md)). Would either of you like to write a pom.xml?

[2015-01-09 19:08] Ubehebe commented on #14
We're now able to accept outside contributions for the source code ([directions](https://github.com/google/closure-templates/blob/master/CONTRIBUTING.md)). (We're also working on putting the official documentation here, so outside contributors can improve those, too.) PRs welcome!

[2015-01-09 19:10] Ubehebe commented on #18
@bregenspan [here](https://github.com/google/closure-templates/blob/master/CONTRIBUTING.md) are the directions for contributing. PRs welcome! You'll probably have to prepare the PR yourself, though.

[2015-01-09 19:10] #18 closed

[2015-01-09 19:37] bregenspan commented on #18
@Ubehebe many thanks!

[2015-01-12 11:01] tbroyer commented on #4
@Ubehebe Sure I'll have a look. Is all you need a pom.xml? or would you also like to have scripts or whatever to ease deployments to Central? (I believe I had started working on it already a while ago)

[2015-01-12 19:44] Ubehebe commented on #4
@tbroyer pom.xml would be a good start. Once we have that, we should be able to release to Central with just a `mvn deploy`.

[2015-01-12 21:57] tbroyer commented on #4
@Ubehebe Do you mean replacing Ant with Maven as the build tool for the project? Or using [`mvn deploy:deploy-file`](https://maven.apache.org/plugins/maven-deploy-plugin/deploy-file-mojo.html) with a `pom.xml` file, and the JARs created by the Ant build? (FWIW, we do the later for GWT, still using Ant for now to build the project, and a shell script to deploy to a Maven repository)

[2015-01-13 04:56] Ubehebe commented on #4
@tbroyer I'd totally be open to replacing Ant with Maven. My understanding (correct me if I'm wrong) is that Maven is the standard build tool in open-source Java these days. If we host on Maven Central, anyone who still needs to use Ant can just download the JARs manually and keep them.

Switching to Maven would also let us get rid of versioned JARs we currently have in source control, which would

[2015-01-13 11:05] tbroyer commented on #4
@Ubehebe At least one person asked for a Maven build: https://groups.google.com/forum/#!topic/closure-templates-discuss/B2gHKT0vzAw

But yes maybe there should be some discussion/poll before changing the build tool. Let's move this discussion to the group (I'll let you open the thread if you don't mind)

I'll work on a script to deploy the Ant build output to a Maven repo (similar to what we do fo

[2015-01-13 17:56] matiwinnetou opened #21 "Goog dependency in soyutils for client side closure templates rendering"
It is understood that in order to use soy to JavaScript compilator one has to use soyutils.js, I created long time ago a bower component, which contains soyutils:

https://github.com/matiwinnetou/soyutils

All would be good if it wasn't for release from 2014-04-22, which now requires goog library. Why has this been change? There are people outside of google who would like to use soyutils and rende

[2015-01-13 18:30] Ubehebe commented on #4
@tbroyer [Done](https://groups.google.com/d/msg/closure-templates-discuss/B7eQtudvx94/wWjlP5H1inAJ).

[2015-01-14 19:25] matiwinnetou commented on #21
We found a way using google closure compiler and advanced optimisations to squeeze soyutils to be 10kb. I will ask our FE Engineer to share details how to do this and we will also post a version of soyutils to bower repository that does not depend on goog directly and in fact inlines a few functions that goog uses.

[2015-01-14 21:59] #21 closed

[2015-01-16 13:35] mwhipple commented on #4
I have a fork that uses gradle to integrate with the existing ant file, generate a pom, and presently publish to bintray/jcenter (which could then be synchronized to maven central or I could add direct support for maven central). It may need some tuning (but the major pieces should be done).  I can submit a pull request if desired.

[2015-01-16 17:01] Ubehebe commented on #4
@mwhipple I'd prefer to get rid of the Ant stuff first and delete our vendored JARs. Gradle has pretty good interop with Maven, right?

[2015-01-16 17:14] mwhipple commented on #4
@Ubehebe It depends on what you mean by interop.  Gradle has great support for working with Maven repositories but is mostly a replacement for the build tool itself. It does have some support for interoperatbility with the maven tool but I think maven is a little too opinionated to play overly well with others. Gradle by default has the same convention over configuration approach and dependency ma

[2015-01-16 17:26] tbroyer commented on #4
@Ubehebe @mwhipple Building Closure Templates with Maven is (relatively) easy; generating the same JARs will require a bit more work. Running examples would be harder, but is this really needed?

[2015-01-16 18:03] mwhipple commented on #4
@tbroyer By "this" you mean running examples? (not that I have an answer).

I should be able to take on porting to Gradle if there's interest/comfort in that option. All of the existing build logic could be handled without issue.

[2015-01-16 18:23] nathancomstock commented on #4
I have a [maven config](https://github.com/nathancomstock/closure-templates/blob/master/pom.xml) and [deployment](https://github.com/nathancomstock/maven-repo/tree/master/releases/nathancomstock/github/closure-templates/2015-01-16) of maven build. The examples are run using exec plugin. Last I checked the maven build covered everything provided in the ant tasks, but I need to review since latest c

[2015-01-16 18:27] Ubehebe commented on #4
@nathancomstock The `pom.xml` looks pretty good. Sure, send a PR.

[2015-01-16 18:38] tbroyer commented on #4
@nathancomstock Looks good!

I notice you run one example during the verify phase; running examples from the CLI wouldn't be as easy as a with Ant though.

[2015-01-16 19:23] DavidCPhillips commented on #1
Hey Folks,

I'm sorry for not providing public info on the state of Python earlier. So here's some background and a quick state of the union.

Late in 2013 the topic of using Soy templates with a Python backend came up internally and we began some early prototyping. The work went pretty quickly at first, getting a mostly complete prototype implementation ready early in the year. However, much of t

[2015-01-16 21:35] necolas opened #22 "Support for Type aliases"
From what I've gathered, there is no easy way to specify type aliases or custom types (especially if you want server- and client-side rendering). We've been using records in our templates, but that leaves us with large amounts of repeated param definitions (that are also responsible for the majority of a template's code). For example:

[code]

[2015-01-16 21:43] lukesandberg commented on #22
I believe the correct way to handle this is to register a new type in the SoyTypeRegistry by implementing a SoyTypeProvider.  I'm not sure if there is documentation for this though.

[2015-01-17 04:22] nathancomstock commented on #4
@tbroyer Good point. I will look into cli options for examples.

[2015-01-19 12:02] claudioc opened #24 "Warning "bootstrap class path not set in conjunction with -source 1.7""
I am fairly new to the library, but I am failing to compile it (trying to add some helpers).

My system is an OSX 10.9 and Java version is "1.8.0_25".

Simply running `ant` will generate the warning which aborts the build process. If I remove the `-Werror` switch in the build.xml file, the compilation finishes without problems.

It's my understanding that SoyToJsSrcCompiler.jar wants Java 1.7 (I h

[2015-01-19 12:23] claudioc commented on #24
The problems seems to be related to Java 1.8, which outputs that warning thus stopping the compilation process.

The details are here http://www.draconianoverlord.com/2014/04/01/jdk-compatibility.html

[2015-01-19 13:19] claudioc commented on #24
Probably duplicated of https://code.google.com/p/closure-templates/issues/detail?id=62

[2015-01-19 13:37] claudioc commented on #24
If you can install JDK 1.7, you can compile the library with `JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.7.0_72.jdk/Contents/Home ant`

(using the current 1.7, of course)

[2015-01-21 04:42] nathancomstock commented on #4
@Ubehebe,
Opened #23 for this issue.

@tbroyer ,
I did not see great options for running examples as easily as with ant. I looked at an option using the [appassembler-maven-plugin](http://mojo.codehaus.org/appassembler/appassembler-maven-plugin/usage-program-scripts.html) which worked, but bloated the pom. In the current state of the PR, `mvn verify -DskipTests=true -Dmaven.javadoc.skip=true` can

[2015-01-21 10:35] tbroyer commented on #4
@nathancomstock Yes, this is why I questioned above whether running the samples (individually, from the CLI) was really needed (they should of course be run during the build as a verification check). I for one am fine with what you did in your PR.

[2015-01-21 13:54] lfac-pt commented on #14
Awesome! Thanks :)

[2015-01-21 17:26] igorspasic commented on #14
:+1:

[2015-01-21 18:03] Ubehebe commented on #14
I'm going to close this issue now. If you have more specific concerns, feel free to open more specific issues.

[2015-01-21 18:03] #14 closed

[2015-01-21 22:44] Ubehebe commented on #8
This does seem like surprising behavior. If you can change it and keep all the existing tests passing, send a PR.

[2015-01-27 00:58] Ubehebe commented on #24
@claudioc The project now has a [pom.xml](https://github.com/google/closure-templates/blob/master/pom.xml), so you should be able to type `mvn package` to build the JAR. The POM also specifies Java 1.7.

[2015-01-27 00:58] #24 closed

[2015-01-27 05:10] nathancomstock opened #25 "args4j update"
Commit [e65189d4ca4c306ba7db976d444ed9ca8a6f9fc0](https://github.com/google/closure-templates/commit/e65189d4ca4c306ba7db976d444ed9ca8a6f9fc0) updates the `args4j` jar to `2.0.26` for ant build. The args4j version change should be moved to the maven build.

[2015-01-27 17:42] Ubehebe opened #27 "SanitizersTest#testNormalizeUriAndFilterNormalizeUri corrupts terminal output"
If you run `mvn test` from the command line, your terminal will turn into garbage. I believe this is caused by [this line](https://github.com/google/closure-templates/blob/e74fcfa284a1e31d42ac93e53cb84a71f638c70b/java/tests/com/google/template/soy/shared/restricted/SanitizersTest.java#L341) in SanitizersTest:

[code]

I believe `\u000e` is interpreted by terminals as an ANSI escape code (specifica

[2015-01-28 22:07] tbroyer commented on #27
SGTM.

I don't have any experience with this kind of setup but found http://bpossolo.blogspot.fr/2013/04/configuring-javautillogging-for-unit.html

[2015-01-28 22:23] lukesandberg commented on #27
in that exact test you should be able to just call
java.util.Logger.getLogger(Sanitizers.class.getName()).setLevel(SEVERE)
which would fix the problem

On Wed, Jan 28, 2015 at 2:07 PM, Thomas Broyer <notifications@github.com>
wrote:

[2015-01-29 06:48] nathancomstock commented on #27
I've not seen the issue, but validated fix proposed from @tbroyer which works well.

[2015-02-02 23:03] #27 closed

[2015-02-04 20:11] Ubehebe commented on #4
@nathancomstock @tbroyer I'd like to push to Maven Central soon. I'm used to using the nexus-maven-staging-plugin to do this via `mvn deploy`, but the POM doesn't have this plugin. Is there a better way to do this?

[2015-02-04 20:28] tbroyer commented on #4
I never used that plugin. I just `mvn deploy` for snapshots, and `mvn release:prepare` and `mvn release:perform` for releases, followed by manually closing and releasing the staging repo at oss.sonatype.org

[2015-02-04 21:25] sayrer opened #28 "plural/select support in xliff"
Would a patch that implements this with xliff 'g' elements be accepted. I know that it works fine, and the exported templates already rely on Closure-specific 'x' placeholder handling.

[2015-02-10 04:46] nathancomstock commented on #4
@Ubehebe , I also have not used the plugin. If you would like me to add the plugin let me know, just cant test it of course...

[2015-02-11 18:55] Ubehebe commented on #4
@nathancomstock @tbroyer Okay, I've [pushed fresh artifacts to Maven Central](https://groups.google.com/d/msg/closure-templates-discuss/xmXJjPGRc_w/WXIFSmtuDQsJ). I had to add a few plugins and things to the POM. Can one of you grab the Maven JARs and make sure nothing is broken? Once you do, I'll send you a PR with my POM additions.

[2015-02-13 00:01] hitsthings commented on #1
Just want to say - I'm super happy you're working on this. It would be awesome to have for us since it means we can share templates between our JVM products and Python ones. Thanks!

[2015-02-13 00:14] hitsthings commented on #1
On further thought. Is there a reason you're not basing your work off the version by lalinsky? It seems outdated now, but fairly complete. Are you unhappy with the quality, or are there legal concerns, or something else getting in the way?

Cheers!

[2015-02-13 02:10] viridia commented on #1
There's a simple answer, which is that for both technical and policy
reasons we were not able to accept 3rd party contributions until recently,
and by that time the Python backend work had already been underway
for quite a while.

On Thu, Feb 12, 2015 at 4:15 PM, hitsthings <notifications@github.com>
wrote:

--
-- Talin

[2015-02-16 18:12] #25 closed

[2015-02-18 06:12] hitsthings commented on #1
Thanks @viridia ! Good to know.

[2015-02-23 05:15] hitsthings opened #30 "Option to compile to ES6 Modules"
Soy currently compiles to JS globals, which is still a good "least common denominator" choice. Forward-looking projects are already using ES6 modules and transpiling it back to whatever format they like (AMD, CommonJS, globals, whatever). An option to compile to ES6 modules is a good current choice, and in the future will be a better default choice.

[2015-02-24 16:56] concavelenz commented on #30
Not that I'm volunteering, but there are a lot of export options for ES6
modules, would you expect:

1) an simple object containing the file's templates:

export default {
   someTemplate1(...) {
     ...
   }

   someTemplate2(...) {
     ...
   }
};

2) a export per-template

export function someTemplate1(...) {
   ....
};

3) something else?

On Sun, Feb 22, 2015 at 9:15 PM, hitsthings <notific

[2015-02-27 00:53] mkaatman opened #31 "commonJS asynchronous module definition support"
Migrated from https://code.google.com/p/closure-templates/issues/detail?id=29

Jamon has moved on to using React, but others might still find his patch useful.
https://code.google.com/p/closure-templates/issues/attachmentText?id=29&aid=-6428444581076525520&name=useCommonJsAsyncDef.patch&token=ABZ6GAeKnA2uHc77T5Pca4kZNcsDviSeug%3A1424996967565

--useCommonJsAsyncDef
          usage = "When this opt

[2015-02-28 18:04] Ubehebe commented on #31
We need someone to take this patch into a PR so we can do a code review. Volunteers?

[2015-03-05 23:30] nicks opened #33 "Support compatible deltemplates with different optional arguments"
Right now, if you have two deltemplates that accept different optional arguments, you get an error. Here's an example.

[code]

closure-templates complains "SoySyntaxException: Found delegate template with same name blahblah but different param declarations"

I don't understand why this is a syntax error. The declarations are perfectly compatible with each other. Is there a good reason why I have

[2015-03-10 14:08] matiwinnetou commented on #21
this is still giving us problems all the time, can we get like a bigger soyutils but with all goog dependencies?

[2015-03-10 19:27] leo-guinan commented on #33
It seems to me that a more logical way to write this would be to have a count that both templates would use. In the "dime" variant, the count is of dimes, whereas the "nickel" variant count would refer to nickels. I believe it is not allowed like that, since we don't know at compile time which delegate we would use, so any delegate would need to support all possible parameters.

[2015-03-10 20:18] nicks commented on #33
it's a toy example, don't be silly.

all delegates do support all possible parameters. they just ignore some of those parameters. I shouldn't have to declare that I'm ignoring a parameter.

[2015-03-10 21:47] leo-guinan commented on #33
Of course it is a toy example, but it does not demonstrate any reason to desire that behavior. These templates are very strict about requiring parameters, and using the required parameters. It blows up at compile time if the required parameter is not there. If you have several options for templates to choose, how can soy decide whether or not the specific parameter is required? In my eyes, it is a

[2015-03-10 22:02] nicks commented on #33
"It blows up at compile time if the required parameter is not there." - Just for the record, this is simply not true for deltemplates.

_shrug_, if the team feels that this warning adds value, that's fine. We've already forked our version of closure-templates to remove this warning.

[2015-03-11 10:07] leo-guinan commented on #33
Correct, sorry I did not explain my thinking very well on that. My point was that given the strictness of the regular template, keeping in line with that with the deltemplate makes sense.

Now, given that your team feels the warnings are extraneous, and have already disabled them, this starts to make sense. Perhaps it would be beneficial to define a strict mode, in which all of these are enforced,

[2015-03-18 09:49] Vadorequest opened #34 "Found error where declared syntax version 2.0 is not satisfied"
I'm getting started following this tutorial: https://developers.google.com/closure/templates/docs/helloworld_js

But I cannot compile the `.soy` file using command line, I get this error:
[code]

here is my Soy file:

[code]

Any idea why it doesn't work?

[2015-03-18 09:51] Vadorequest commented on #34
Fixed... It just needed the comments... Found out by reading it again in Github because my shell sucks (windows...)

https://stackoverflow.com/questions/11496430/why-am-i-missing-soydocs-for-my-soy-template

[2015-03-18 09:51] #34 closed

[2015-03-24 05:16] jamestyrrell commented on #4
@Ubehebe A million times thank you!

[2015-03-28 00:15] Ubehebe commented on #33
@nicks This seems like a pretty reasonable change, and it seems unlikely to cause much (any?) breakage in our existing templates. Can you send a PR? (Looks like it's been a while since you merged Medium's fork.)

[2015-03-28 12:50] Ubehebe commented on #30
@hitsthings @concavelenz What's the use case? There are clear benefits to writing source code *in* ES6, as you mention, but it's less clear what the benefits of compiling *to* ES6 are, other than "all parts of our pipeline should use the latest syntax".

It should eventually happen, but it might not be the highest priority.

[2015-03-28 18:36] sayrer opened #35 "Add Go support"
This is just a wishlist type request

[2015-03-28 18:38] concavelenz commented on #30
Native dependency management.
On Mar 28, 2015 5:50 AM, "Brendan Linn" <notifications@github.com> wrote:

[2015-03-28 23:38] hitsthings commented on #30
Native dep management is one - not having to use goog.require would be good. If the rest of my code is using the AMDish loader of BabelJS, and Soy is using goog.provides, I and every other consumer has to do work to make them play together.

I have a project written in ES6 syntax with a build pipeline that expects ES6 as the source language. My build is either more complicated if I use Soy since I

[2015-04-01 13:37] nathancomstock commented on #4
@Ubehebe , missed the previous issue update notification somehow...the 02-10 jars are working for me.

[2015-04-02 19:01] nicks commented on #33
sure, i'll try to put a PR together soon.

[2015-04-07 15:40] ChadKillingsworth commented on #4
@Ubehebe Can you tag the release commits? I'm really only interested in the latest one (4-3-2015).

[2015-05-07 23:52] mavrukin opened #37 "Create a logo for Closure Templates"
Please crate a logo for Closure Templates project akin to the ones for AngularJS / Bootstrap / Backbone, etc...

[2015-05-09 17:46] ernestoalejo opened #38 "Undefined method when compiling soyutils_usegoog.js"
When I try to compile the file with the rest of scripts of my application the compiler outputs this error:

[code]

I am using `goog.DEBUG=false` in the compiler flags. I've tried to find the method in the Closure Library but I don't know where it's defined or why it's not found.

[2015-05-09 18:19] concavelenz commented on #38
https://github.com/google/closure-library/blob/f4b6ae81da22129befdcb35a0681c60bcca0451d/closure/goog/debug/debug.js#L628
On May 9, 2015 10:46 AM, "Ernesto Alejo" <notifications@github.com> wrote:

[2015-05-09 18:20] concavelenz commented on #37
Open to suggestions...
On May 7, 2015 4:52 PM, "mavrukin" <notifications@github.com> wrote:

[2015-05-09 19:30] ernestoalejo commented on #38
My fault, I was using a cached version of the library from an internal repo. Thank you for the help!

[2015-05-09 19:30] #38 closed

[2015-05-09 22:46] concavelenz commented on #38
No problem
On May 9, 2015 12:30 PM, "Ernesto Alejo" <notifications@github.com> wrote:

[2015-05-11 16:45] #33 closed

[2015-06-09 18:10] nicks opened #40 "closure-templates at HEAD throws errors on any css"
Create a template like this:
[code]

call it
[code]

Result: error:
AssertionError: Failure: Bad value `body { color: blue; }` for |filterCssValue
    at new goog.asserts.AssertionError (/Users/nick/git/soynode/node_modules/obvious-closure-library/closure/goog/asserts/asserts.js:62:20)
    at Object.goog.asserts.fail (/Users/nick/git/soynode/node_modules/obvious-closure-library/closure/goog/assert

[2015-06-18 06:08] nathancomstock opened #41 "Strict templates in FeaturesUsage failing"
The `.demoRawTextCommands` and `.demoDoubleBraces` templates are failing when rendered in `FeaturesUsage`. The templates have `ContentKind.TEXT` but validation fails as the default template content type is `ContentKind.HTML`. The failure breaks the build.

This PR explicitly sets the expected content type to `ContentKind.TEXT`.

[code]

[2015-06-22 06:40] hitsthings commented on #1
Hi all!

Just wanted to check up on this since @DavidCPhillips noted that "We're aiming to get the rest of the implementation into the main codebase by the end the of Q1."

I see you guys did some work up until last month at least - https://github.com/google/closure-templates/tree/master/java/src/com/google/template/soy/pysrc

Is it done (does that stuff work / is it supported?) Is it taking longe

[2015-06-22 17:19] DavidCPhillips commented on #1
Hello again @hitsthings.

As you saw, we actually finished up the core compiler/runtime implementation about a month a go! It's currently passing all of our internal integration tests, and has non-deprecated feature parity with the other compilers.

The only reason I haven't closed this bug, and made a more general announcement, is that we'd like to get some projects up and running to work out the

[2015-06-22 18:34] ChrisNeveu opened #43 "SoyAutoescapeException: Messages are not supported in this context, because it would mean asking translators to write source code"
We've been using the 2012 version of Closure Templates for years and we've recently been trying to upgrade to the latest version to take advantage of new features like static typing. Unfortunately, running the new version we get this error
[code]
The relevant template is:
[code]

We use this to send users to a different, external page depending on the language they speak.

[2015-06-22 20:32] gboyer commented on #43
I was the one that made it generally an error to do this. We found that in Google we had a dozen or so cases where a message was inside a URL, but it was almost all accidental, e.g. someone accidentally made a template kind="uri". (We generally use ?hl parameters for URLs that need to be translated in multiple languages.)

That said, a few others have asked me about this, as some people have trans

[2015-06-23 14:40] ChrisNeveu commented on #43
Thanks @gboyer that solution works for our situation. Is there a migration guide or a changelog somewhere that indicates the changes necessary to upgrade from the 2012 to the 2015 version of Closure Templates?

[2015-06-23 15:08] ChrisNeveu opened #44 "Setting `autoescape` on a template causes the template to silently fail."
We have several templates with an `autoescape` value set. Including any of these templates in a `SoyFileSet` causes all templates to fail with `com.google.template.soy.tofu.SoyTofuException: Attempting to render undefined template`.

An example:
[code]
[code]
[code]
Both templates fail with `Attempting to render undefined template`. Removing the `autoescape="false"` from `.manualAutoEscape` causes

[2015-06-23 15:22] gboyer commented on #43
One of the biggest changes is that since then, the default autoescape mode has changed from "true" (which is now deprecated-noncontextual) to "strict" (which is now also the default). Strict autoescaping also bans noAutoescape, instead requiring anything that needs to be printed without escaping to be passed into Soy as a SanitizedContent object, or passed between templates as a kind="html" parame

[2015-06-23 18:01] ChrisNeveu commented on #43
Thanks again, @gboyer; `deprecated-noncontextual` will make it easier for us to make this upgrade in small steps.

[2015-06-23 18:01] #43 closed

[2015-06-23 20:24] ChrisNeveu commented on #44
I should add, the version we are using is `"com.google.template" % "soy" % "2015-04-10"`

[2015-06-24 05:20] hitsthings commented on #1
Love it, that's great to hear! I'll set it up with our internal tools and see how we go. Thanks a ton!

[2015-06-29 14:07] johnsensible commented on #44
Just to say we're seeing this behaviour too.

We're trying to upgrade to the latest version (2015-04-10) and as we've previously been using noAutoescape in a couple of places wanted to be able to set the autoescaping to the old behaviour (i.e. contextual).  Setting autoescape on either the individual template or namespace doesn't seem to work.

[2015-06-29 14:14] lukesandberg commented on #44
I believe that you now need to set it to "deprecated-contextual",

On Mon, Jun 29, 2015, 7:07 AM John Montgomery <notifications@github.com>
wrote:

[2015-06-29 14:34] johnsensible commented on #44
Ah that worked!

Digging in I see those values seem to be defined here:

https://github.com/google/closure-templates/blob/e049b2e673a5a9571aaa088f4c6d2d434d444d7b/java/src/com/google/template/soy/soytree/AutoescapeMode.java

So the valid values for autoescape would seem to be:

* deprecated-noautoescape
* deprecated-noncontextual
* deprecated-contextual
* strict

So I guess the main bug really is

[2015-06-29 14:50] lukesandberg commented on #44
I think I may have fixed the poor error message issue in
https://github.com/google/closure-templates/commit/19c61de601b6ca862401c7f3e2405c563a04ffa7

I think you are just on an earlier release (sorry!).

Thanks for the pointer about the docs, I'll try to get those fixed

[2015-06-29 14:56] johnsensible commented on #44
OK, glad to hear it's fixed and you're on top of the docs.

Guess they'll be a new release soonish?

[2015-06-29 15:23] lukesandberg commented on #44
@Ubehebe is in charge of maven/github pushes

[2015-06-29 16:20] lukesandberg commented on #44
re docs, it looks like there is an effort underway to convert all our existing docs to markdown and (eventually) get them into this repository.  so updating the docs may take a while :(

[2015-07-10 02:10] jwheeler31 commented on #11
I didn't have this exact same problem, but a similar one was due to missing a closing double quote on an html attribute.

[2015-07-10 05:17] nathancomstock commented on #22
I was looking to do similar today and ended up with an "alias" approach for now. In the tweet example, assuming tweet has `text` and  `public` as members

The provider
[code]
Then register in a Guice module

[code]

The input

[code]

Produces

[code]

Tofu type check

[code]
I am going to look at the custom type approach at some point (maybe optional and defaults are possible?), but this seems av

[2015-07-10 15:44] lukesandberg commented on #22
fwiw i am more sympathetic to adding language support for this than i once was :)

we could add some basic support for 'typedefs'

{namespace my.project}
{typedef tweet : ['text' : string, 'public': bool] }

then we could let you reference them in other files via the fully qualified name

my.project.tweet

It should be a fairly simple feature to add (with the caveat that our parser is a bit of a m

[2015-07-12 05:52] jmhodges opened #45 "documentation bug: busted github link in index of Closure Templates Google Develoers site"
Couldn't find the actual code for [the Google Developers Closure Templates](https://developers.google.com/closure/templates/index#how-do-i-start) page in here for the closure-templates-docs repository.

But there is a busted "project's source code" link in that "How Do I Start" section. It points to "https://github/google/closure-templates/" instead of "https://github.com/google/closure-templates/

[2015-07-12 07:43] jmhodges opened #46 "running mvn compile twice without a clean causing duplicate classes"
The current build breaks when the compile cycle is run twice. I've not been able to figure out what is going wrong inside the pom. I did find a hack that works where you add -proc:none to the javac compiler arguments and also add an old maven-processor-plugin to the pom, but that seems.. well, silly.

Here's the errors:

    [ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-pl

[2015-07-12 07:47] jmhodges commented on #46
The hack I found is in the "Maven" section at the bottom of this blog post. I'm not sure what is colliding with AutoValue here. http://dresscode.renttherunway.com/blog/718

[2015-07-12 19:34] jmhodges commented on #46
This seems to be straight up bug in maven 3.2 and 3.3. Related tickets: https://issues.apache.org/jira/browse/MCOMPILER-235 and https://issues.apache.org/jira/browse/MCOMPILER-236

A workaround is to add "<useIncrementalCompilation>false</useIncrementalCompilation>" to the maven-compiler-plugin. (This seems to currently turn on Maven's maybe-not-so bright incremental compiler. See the [if-statemen

[2015-07-12 19:38] jmhodges commented on #46
The other workaround available is using maven-compiler-plugin 3.1.

[2015-07-13 15:14] oujesky opened #49 "rgb()/rgba() CSS color values not supported in filterCssValue"
I am running into following error when using `rgb(...)` or `rgba(...)` in CSS color values with strict autoescaping.

```Uncaught AssertionError: Failure: Bad value `rgba(0,0,0,0.6)` for |filterCssValue```

Testing template:

[code]

To reproduce, it can be called with following JS code:

[code]

The culprit seems to be this [regular expression](https://github.com/google/closure-templates/blob/50a

[2015-07-14 17:51] oujesky opened #50 "Export JS @typedef for template parameters"
Consider the following template built with `--shouldGenerateJsdoc` parameter with strict typing:

[code]

The generated JS code looks pretty much like this:

[code]

When you need to pass the `opt_data` to `goog.soy.renderXx()` method for example from return value of an another method, you have to copy paste quite considerable type definition, if you want Closure Compiler to pass without errors on

[2015-08-04 23:26] cheetach opened #51 "testBuildOutputFilePath fails on Windows."
MainEntryPointUtils.buildFilePath involves use of File.separatorChar.
But the test input is using '/' as separator char.

[2015-08-04 23:36] cheetach opened #52 "testGenerateExtractedMsgsFile fails. Reason unknown."
Test output on Windows:
testGenerateExtractedMsgsFile(com.google.template.soy.xliffmsgplugin.XliffMsgPluginTest)  Time elapsed: 0.011 sec  <<< FAILURE!
junit.framework.ComparisonFailure: expected:<..." encoding="UTF-8"?>[
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
  <file original="SoyMsgBundle" datatype="x-soy-msg-bundle" xml:space="preserve" source-language="en">
    <bo

[2015-08-17 16:31] lukesandberg commented on #44
....two months later the docs are updated.  Sorry, I just lost track of this.

[2015-08-17 16:31] #44 closed

[2015-08-18 13:03] robfig opened #53 "Return compilation errors from compileToTofu"
When developing templates, it would be helpful to get the template, filename, line number, and error message for any compilation errors.  That allows me to show the detailed error message along with the line of source code in context to the developer.  I do that today by parsing the SoySyntaxException's message, after extracting the original exception from the suppressed frames.  Luke suggested th

[2015-08-19 18:16] mikesamuel commented on #53
To clarify, you don't have a reference to the `SoySyntaxException`, so can't call `getSourceLocation()`.  Instead, you've got access to the stderr and would like that stderr to be better formatted.

If that's correct, then it sounds like this could be addressed by having the main method for whatever you're running do call [`Thread.currentThread().setUncaughtExceptionHandler(...)`](http://docs.orac

[2015-08-19 19:11] robfig commented on #53
No, I do have the SoySyntaxException, but the actual error is suppressed. I can work around that, but was asked to file this feature request from this discussion:
https://groups.google.com/d/msg/closure-templates-discuss/Zh1Vu2hm6gk/Oy_suwuCAQAJ

[2015-08-20 14:42] nicks opened #54 "compiler crashes with integer overflow when evaluating expressions"
[code]

Crashes with the following exception:
$ java -jar target/soy-2.5.0-SNAPSHOT-SoyToJsSrcCompiler.jar --outputPathFormat simple.js --srcs hello.soy
INTERNAL SOY ERROR.
Please open an issue at https://github.com/google/closure-templates/issues with this stack trace and repro steps
java.lang.IllegalStateException: Casting long to integer results in overflow: 1000000000000
	at com.google.common.

[2015-08-20 14:45] nicks commented on #54
also, would you accept a patch to fix this?

[2015-08-20 16:54] lukesandberg commented on #54
We are evaluating the expression because it is part of our tree simplifying pass where we 'preevaluate' constant expressions

the runtime error is a bit weird, soy does most of its calculations on integers using java longs, but at various points we assert that it isn't 'too big' I believe the goal is all about server/client consistency.  We don't want a server rendered template to give different r

[2015-08-20 17:01] lukesandberg commented on #54
ok, just took a quicker look at the specific code in question and there are additional bits of weirdness.

apparently soy only allows integer constants to be declared if they fit in 32 bits.  as a work around you should be able to add a '.0' suffix to any one of those numbers and flip into double math.

imho we should probably just switch all soy integer math to use 'long's instead of ints.  There

[2015-08-20 17:20] nicks commented on #54
fwiw, there's already an exception catch that tells the simplifier to back off and leave the expression alone.

https://github.com/google/closure-templates/blob/50a0b6950bbe65cdd9d611db2e4ad690c0de4318/java/src/com/google/template/soy/sharedpasses/opti/SimplifyExprVisitor.java#L231

I was going to suggest that we move the `convertPrimitiveDataToExpr` call into the exception block. That fixes the o

[2015-08-24 10:29] johnsensible commented on #44
Hey it's done at least!  Thank you.

[2015-09-10 07:47] dockbiz commented on #35
I wish on Go implement,too.

[2015-09-10 07:57] dockbiz opened #55 "can't access to protected property on 'soyutils_usegoog.js'"
I used soyutil_usegoog.js file , implement on my project by closure lib.
it's error on line 354 ,394,835,886

  Access to protected property content of goog.soy.data.SanitizedContent not allowed here.
[code]
how to fix on this error? Thank for advice

[2015-09-10 08:31] dockbiz commented on #55
i fix it by manual add

[code]
on goog/soy/data.js

[2015-09-10 08:31] #55 closed

[2015-09-15 20:39] ClaireNeveu opened #56 "Upgrade to Guice 4.0"
Closure templates cannot be used alongside other projects that use Google Guice and have upgraded to 4.0 due to breaking changes in the library. It would be nice if Closure Templates could release a new version compile against Guice 4.0.

[2015-09-22 00:42] #41 closed

[2015-09-22 02:49] adon-at-work opened #57 "soyutils_usegoog.js:64: ERROR - required "goog.soy.data.UnsanitizedText" namespace never provided goog.require('goog.soy.data.UnsanitizedText');"
This commit https://github.com/google/closure-templates/commit/e47f247bdfacf3c5a34015ced356e4fd8a0444a2 fail to build, with the following error:

[code]

Ref: https://travis-ci.org/yahoo/end-to-end/builds/81507616#L324-L327

[2015-09-23 12:53] itsacat opened #58 "How can live without inheritance in closure templates in big project?"
We use closure library and closure compiler, and we want to use closure templates.
But closure templates haven't got inheritance. That's really a problem for us.

As I understand, the reason why closure templates don’t have inheritance, is because templates must be simple, and easy to read.

But how can you live without inheritance in big projects?

For example, we have a template file *button.soy

[2015-09-23 15:53] concavelenz commented on #58
Check out delegate templates:
https://developers.google.com/closure/templates/docs/commands?hl=en

On Wed, Sep 23, 2015 at 5:53 AM, Андрей Воробьев <notifications@github.com>
wrote:

[2015-09-23 16:25] ntstv commented on #58
@concavelenz, Delegates templates doesn't intended to be used multiple times.

_button.soy_
[code]

_button-cricle.soy_
[code]

For example if _buttons-circle.soy_ overrides some `deltemplate button.Template.foo` from _button.soy_ it should contain something like `delpackage buttonCircle.Template`.

So if we want use `.base` from _button.soy_ and _button-circle.soy_ we should provide `delpackge`.

[2015-09-25 06:01] atul-bhouraskar opened #59 "Python: class SanitizedContent raises DeprecationWarning"
I just started using the Python implementation for the first time today. Firstly - thanks!

As I always run my tests with DeprecationWarnings turned into errors I found that the `__new__` method of `class SanitizedContent` (part of the `python/sanitize.py` file) passes arguments on to `object.__new__()`. This is deprecated in Python (since 2.6 I think) - http://bugs.python.org/issue1683368.

The c

[2015-09-25 21:24] #59 closed

[2015-09-26 19:51] brunokim opened #61 "Create a formatDateTime directive"
It'd be good to have a native directive to format a timestamp, delegating to standard date formatting implementations such as SimpleDateFormat (Java) and Date.toLocaleDateString (JS). A possible interface could be:

    {timestampMillis|formatDateTime:locale,"short"}

[2015-09-28 18:37] lukesandberg commented on #61
SimpleDateFormat is probably not a great idea since it doesn't have good
international support. luckily soy already has an ICU dependency so we
could in theory support that (but then of course we would need a similar js
implementation)

Also, getting access to timezone information would be necessary,

On Sat, Sep 26, 2015 at 12:51 PM Bruno Kim Medeiros Cesar <
notifications@github.com> wrote:

[2015-09-28 22:19] lukesandberg commented on #58
use composition instead of inheritence?

project.createButton could provide ways for callers to modify its behavior
via parameters, then you could write templates to specialize these core
templates by passing certain parameters.

On Wed, Sep 23, 2015 at 9:25 AM Roman Shamyan <notifications@github.com>
wrote:

[2015-09-29 00:08] pandacalculus opened #62 "new Maven artifacts please"
Hi folks,

The current artifacts on Maven central are old; `2015-04-10` and `2.5.0-SNAPSHOT`. It would be great to get new versions published, because `2015-04-10` has some problems that are already fixed on master.

My preference would be for a named release, because I'd prefer not to depend on a SNAPSHOT version in production

Thanks,
-Brendan

[2015-09-29 08:52] itsacat commented on #58
As i say, that approach will create monster templates, with many ```if```.

[2015-10-02 14:38] itsacat opened #63 "SoySyntaxException: Undefined field for param that have two record type"
INTERNAL SOY ERROR.
Please open an issue at https://github.com/google/closure-templates/issues with this stack trace and repro steps
com.google.template.soy.base.SoySyntaxException: In file blocks/b-bouton/b-bouton.soy:19:5, template gorod.bBouton.Bo
utonTemplate.render: Invalid expression "$params.label2": Undefined field 'label2' for record type [label: string]
        at com.google.template.soy

[2015-10-05 20:35] lukesandberg commented on #63
this is WAI.  for union types all operations on the value have to be
applicable to all members in the union.

On Fri, Oct 2, 2015 at 7:38 AM Андрей Воробьев <notifications@github.com>
wrote:

[2015-10-06 18:14] lukesandberg commented on #58
not necessarily.  instead of behavior switches just pass content

{template .baseButton}
  {@param? attrs : attributes}
  {@param content: string}
  <div class="baseButton" {$attrs ?: ''}>{$content}</div>
{/template}

that would allow for users to pass custom attributes optionally, thus
specializing the implementation.

So instead of trying to 'override a template' just pass information into
the t

[2015-10-08 10:48] matiwinnetou opened #64 "map get values doesn't work?"
[code]

results in an error:

com.google.template.soy.base.SoySyntaxException: In file /Users/mszczap/Devel/mobile/public-search-germany-webapp/build/classes/main/soy/pubse/includes/configJs.soy:55:9, template pubse.includes.configJs: Invalid expression "$formattableDays['MONDAY']": Type [FRIDAY: string, MONDAY: string, SATURDAY: string, SUNDAY: string, THURSDAY: string, TUESDAY: string, WEDNESDAY

[2015-10-08 11:31] matiwinnetou commented on #64
ok, I found this hack:

{let $m: quoteKeysIfJs(['a': 1, 'b': 'blah'] /}

{$m['a']}

but I don't think this is nice, is it possible to support this in an easier way?

[2015-10-08 16:00] lukesandberg commented on #64
it would work if you did $formattedDays.MONDAY :(

the issue is if you define a map-literal with string constant keys we infer
it to be a 'record' definition.  This is problematic as you have
discovered.  Another workaround is to make one of your keys in the record
not a constant

e.g.

{let $formattableDays: [
      'MONDAY' + '':    'Monday',
      'TUESDAY':   'Tuesday',
      'WEDNESDAY': 'Wed

[2015-10-09 14:39] matiwinnetou commented on #64
I like the idea of special constructor for maps the most.

[2015-10-19 20:23] bregenspan opened #65 "Option to compile to AMD"
Similar to https://github.com/google/closure-templates/issues/30, it would be very nice for AMD users to have the option to compile modules to AMD so that a project's own dependency management system of choice can be used. (Where I work, we currently add an AMD wrapper around all Closure Templates-generated JS, but still have to manually ensure that any inner templates that get called are manually

[2015-10-19 20:26] bregenspan commented on #65
(In light of #30, one option could be to just compile to some single standard module format like ES6 modules, allowing for a separate module conversion step using preexisting converters for anyone who wants to use AMD, CommonJS, etc.)

[2015-10-28 11:23] lennel opened #66 "TemplateBasicNode (probably SoyNode) toSourceString prints let statements incorrectly"
given this template let statement inside a template
 {let $BaseTimestamp : subtract($FromTimestamp, modulo($FromTimestamp, (1000 \* 60 \* 60 \* 24))) /}
when extracting the source from a template in a custom visitor pass with toSourceString, the let statement is rewritten as
{let $BaseTimestamp : subtract($FromTimestamp, modulo($FromTimestamp, (1000 \* 60 \* 60 \* 24)))}
which does not compile pro

[2015-10-29 00:20] lukesandberg commented on #66
toSourceString is really a debugging feature (we have actually discussed
removing it...)... it isn't a great tool for code generation because it
doesn't preserve whitespace.  A better approach is probably to use the
SourceLocation to extract the original text

On Wed, Oct 28, 2015 at 4:23 AM lennel <notifications@github.com> wrote:

[2015-10-29 01:03] lennel commented on #66
if I fix it will you publish it, damn sight easier than cutting lines from a text file.

[2015-10-30 22:05] lukesandberg commented on #66
yep, send a PR

On Wed, Oct 28, 2015 at 6:03 PM lennel <notifications@github.com> wrote:

[2015-11-03 17:42] rlambert27 opened #67 "Nested loops with parameters"
Hello,

We're using Google Closure Templates on our website and we've run into an issue we just can't find a solution for.

We're setting up a sub template and we want to loop through an unknown amount of variables. We tried using nested loops but it's not working! Here's an example of the parameters sent to the SOY template below. We don't know how many sections will be provided. When trying to d

[2015-11-03 21:54] lukesandberg commented on #67
Can you show me what you tried?  in general this does work.  For example i might write it like

[code]

[2015-11-04 18:29] rlambert27 commented on #67
Hmmm we must have done something wrong, works fine now! Thanks for your help!

[2015-11-04 18:29] #67 closed

[2015-11-12 02:37] bradleyayers commented on #30
I'm interested in implementing this or #65, but want to know what direction the library maintainers want to take this? Some in-principle support for one approach or the other would be good. At the moment I'm leaning towards AMD.

[2015-11-17 01:13] pandacalculus commented on #62
any update on this?

[2015-11-19 02:44] lukesandberg commented on #62
There has been some trepidation about releasing new official versioned releasea since we do not current posses any processes for doing so.

I think we still need to come up with
Release notes
Compatibility guarantees
Migration instructions
And presumably other things as well....

[2015-11-19 03:02] lukesandberg commented on #58
I believe this is all working as intended.  Large projects using soy (and other programming languages like cc and go) get by without inheritance.

[2015-11-19 03:02] #58 closed

[2015-11-19 03:04] lukesandberg commented on #56
Thanks.  We actually use guice 4.0 (well guice head really) internally. So this should just be a matter of updating our pom.  Care to send a PR?

[2015-11-19 05:41] concavelenz commented on #62
Those are nice to have but can be back filled as time goes on.  The Closure
Compiler release every ~6 weeks with minimal formality with versions like
20151118.00

On Wed, Nov 18, 2015 at 6:44 PM, Luke Sandberg <notifications@github.com>
wrote:

[2015-11-25 14:58] alexg-dev opened #68 "JS templates download link"
Please, update [download link] (https://dl.google.com/closure-templates/closure-templates-for-javascript-latest.zip) with last version from repo. Now closure compiler fires several errors.

[2015-11-30 18:43] Ubehebe opened #69 "Proposal: Closure Templates Change and Release Policy"
# Motivation
Closure Templates is a mature product with widespread use both inside Google and in the open-source world. In general, we don’t want to change the workflow for writing Closure Templates or the language features available to template authors. Rather, we want to **make it easier to use the best possible Closure Templates features** (and conversely, make it harder or impossible to use Cl

[2015-11-30 19:08] Ubehebe commented on #69
Comments welcome. See [mailing list post](https://groups.google.com/d/msg/closure-templates-discuss/vY-77gj8-F4/0Ez8IF1rBwAJ).

[2015-11-30 19:18] hochhaus commented on #69
As a (non-Google) company which heavily uses closure-templates for a proprietary product I think the proposal sounds great. Making the best closure-templates features more accessible while minimizing the likelihood of performance or security issues trumps perfect stability. As breaking changes are documented, the monthly upgrade cycle should not be too hard to stay current with.

[2015-11-30 20:11] ChadKillingsworth commented on #69
@Ubehebe If you do that, I'll setup continuous deployment via Travis for publication to npm.

[2015-11-30 22:00] nathancomstock commented on #69
This would be excellent and much appreciated !

[2015-12-02 03:49] lukesandberg commented on #62
We are moving to a monthly release cycle. The first release under the new
regime should land in early January.

On Wed, Nov 18, 2015, 9:41 PM John Lenz <notifications@github.com> wrote:

[2015-12-02 04:02] pandacalculus commented on #62
@lukesandberg that's great to hear! thanks for the update.

[2015-12-02 10:34] 4kx opened #70 "Translation of non-HTML content"
Sometimes it is necessary to translate non-HTML content (for example text emails).  However currently this seems to be difficult because the following problems.

Problem 1: `{msg}` supports only HTML content (i.e. its content type is always assumed to be `text/html`).

The following template:
[code]
leads to exception:
[code]

A possible workaround is to use `{literal}`:
[code]

However it is bett

[2015-12-03 14:40] sharonzhouxy opened #71 "localeStringProvider.get() returns null in FormatNumDirective"
Hi, I have a webapp which is using closure template. when I tried to format a number in soy template using FormatNumDirective. I got null for localeStringProvider.get(). But I want it to return the actual locale the request of the webapp has.
I am wondering how I can put the locale which I can get from the request of webapp  into FormatNumDirective to make localeStringProvider.get()  return the lo

[2015-12-05 03:54] pcj commented on #69
Is there further information to be expected discussing which aspects of Closure Templates are planned to break or change?

[2015-12-09 22:14] Ubehebe commented on #69
@pcj We're planning on pushing to GitHub more frequently than once per release. We may add BREAKING_CHANGES metadata to each commit, so before a new release, you can review the commits to get a good idea of what's going to break.

(Over the past year, pushes have happened about biweekly. We haven't done any pushes since ~November, because we have a few breaking changes in store and I wanted to get

[2015-12-15 05:36] hochhaus commented on #69
@Ubehebe Any idea when the github pushes will resume? I'm itching to experiment with the idom backend.

[2015-12-15 06:15] #71 closed

[2015-12-15 06:20] sharonzhouxy opened #72 "Reason for adding final to SoyListData class in com.google.template.soy.data package?"
In a common lib of our organization, we extended SoyListData while we were using the old version of closure template. Now we want to upgrade to the version 2015-04-10 but find out that SoyListData has become a final class.
Is there any specific reason to make SoyListData final? Is it possible to remove this final?

[2015-12-29 03:40] SLaks commented on #50
I will implement this.

It will generated
[code]

[2015-12-29 03:41] SLaks commented on #50
Question:

If a template calls another template with `data="all"`, should the `Parameters` for the caller duplicate all of the parameters of the callee, or `@extend` the callee's `Parameters` (potentially plural)?

[2015-12-29 03:55] SLaks commented on #22
I will implement this.

Proposed syntax:

[code]

I chose this syntax (in particular, the `@`) to be consistent with `{@param}`.  However, I'm not sure about the `@`.
I'd like to allow typedefs that aren't inside the file namespace, since file namespaces frequently end in `.templates`, and that wouldn't make sense for a type.

I will also change the JS emitter to emit `@record` types (for records,

[2015-12-31 06:33] hamaron commented on #56
@lukesandberg Would you mind if I sent a pull request for this? I'm really having trouble with this issue.

[2015-12-31 12:50] hamaron commented on #56
Created a PR for this: #73

[2016-01-05 10:46] fantayeneh commented on #62
Hi @lukesandberg,  Is the release is still scheduled for early January?

[2016-01-14 21:59] SLaks commented on #50
Answer to my question: It can't extend the other record, since the duplicated parameters are all optional.

[2016-01-25 16:18] FedorGuryanov opened #77 "What is alternative for deprecated-noautoescape?"
Is there any way to directly insert an html to template, working with soy templates 2016-01-12 version?

In old versions (2012-12-21 for example) we were able to use autoescape="false".
In newer versions (to 2015-04-10) we were able to use autoescape="deprecated-noautoescape".

In 2016-01-12 this deprecated API was removed, and I can't find alternative for deprecated-noautoescape (I was looking fo

[2016-01-25 21:17] lukesandberg commented on #77
where is the html coming from?

On Mon, Jan 25, 2016 at 8:18 AM FedorGuryanov <notifications@github.com>
wrote:

[2016-01-26 09:11] FedorGuryanov commented on #77
Html coming from trusted source (rendering dynamically)

[2016-01-26 16:19] concavelenz commented on #77
In Java or JavaScript?

On Tue, Jan 26, 2016 at 1:11 AM, FedorGuryanov <notifications@github.com>
wrote:

[2016-01-26 16:28] FedorGuryanov commented on #77
In Java

[2016-01-30 02:23] lukesandberg commented on #77
Then you can pass it using one of the helpers in
com.google.template.soy.data to construct a SanitizedContent object with
ContentKind.HTML  SanitizedContents or UnsafeSanitizedContentOrdainer.

On Tue, Jan 26, 2016 at 8:28 AM FedorGuryanov <notifications@github.com>
wrote:

[2016-02-19 23:17] Dominator008 opened #78 "Consider adding a versioned release archive to dl.google.com"
Currently, only http://dl.google.com/closure-templates/closure-templates-for-javascript-latest.zip is provided. This makes it dangerous for build tools that checks the SHA256 hash of the archive, eg:

https://github.com/bazelbuild/bazel/blob/master/tools/build_rules/closure/closure_repositories.bzl#L99-L104

Could you release a versioned .zip file alongside `closure-templates-for-javascript-latest

[2016-03-09 11:00] moberghammer opened #79 "goog.format.insertWordBreaks Deprecated"
In the latest Closure Library goog.format.insertWordBreaks is deprecated.
This leads to the following warning:
soyutils_usegoog.js:1526: WARNING - Property insertWordBreaks of type goog.format has been deprecated: Prefer wrapping with CSS white-space: pre-wrap.

[2016-03-16 12:59] jart opened #80 "Closure Templates can't run on App Engine"
The source/runtime version was set to Java 8 in the following commit: https://github.com/google/closure-templates/commit/db3c060fc26c85805da178a80908db4097576a39

This makes it impossible to deploy anything that links against soy to App Engine, or anything where the runtime environment is Java 7.

[2016-03-24 20:20] hochhaus opened #85 "SoyToIncrementalDomSrcCompiler.jar build target"
The idom backend code appears to have all been open sourced. However, no SoyToIncrementalDomSrcCompiler.jar is included in the open source project. This means building a custom compiler is currently required to use idom.

[2016-03-25 14:43] eduardolundgren opened #88 "SoyToIncrementalDomSrcCompiler compilation error for anchors containing child elements with attribute"
The way I could reproduce the following issue was when an anchor element containing a child with attributes is passed as content of any `kind="html"` attribute and wrapped on a `{if}` block. Removing `{if $items}` fixes the problem.

[code]

[code]

[2016-03-25 14:48] eduardolundgren opened #89 "SoyToIncrementalDomSrcCompiler compilation error for HTML comments"
When `<!DOCTYPE html>` is present and the following sequence of HTML comments followed by any element with attribute compilation fails. There might be a simpler way to reproduce this.

[code]

[code]

[2016-03-25 17:41] hochhaus commented on #89
@eduardolundgren How you are building SoyToIncrementalDomSrcCompiler.jar? I don't see SoyToIncrementalDomSrcCompiler.java in the repo. Are you creating this stub yourself?

[2016-03-25 20:13] eduardolundgren commented on #89
From here https://www.npmjs.com/package/closure-templates-incrementaldom

[2016-03-25 20:46] hochhaus commented on #89
@eduardolundgren Thanks! I didn't realize that an "official" build had been released. I had been working around this using the patch I mentioned here.

https://groups.google.com/forum/#!msg/closure-templates-discuss/8p6JIdaWWj0/hIPerE7hEwAJ

[2016-03-26 00:41] eduardolundgren opened #90 "SoyToIncrementalDomSrcCompiler issue with optional html parameters that compiles to text"
Issue with optional html parameters that compiles to `itext`, e.g.:

[code]

Compiles to:

[code]

[2016-03-28 19:58] mairatma opened #91 "SoyToIncrementalDomSrcCompiler issue when calling template inside if command"
If you call a template directly inside an `if` command, the compiled file uses the ternary operator but forgets to add a line break before the next statement, causing syntax errors. For example:

[code]

The compiled soy:
[code]

[2016-03-28 20:05] mairatma opened #92 "SoyToIncrementalDomSrcCompiler issue with self closing element tag"
If an element tag is self closed, the ending `/` is treated as an attribute, which causes errors since it's not a valid attribute name. For example:

[code]

This soy is compiled to:

[code]

[2016-03-30 12:26] StefanLiebenberg commented on #66
https://github.com/google/closure-templates/pull/93

[2016-04-04 17:06] sparhami commented on #89
This one will probably take a bit of time to implement. Ultimately though, it will just strip the comments since Incremental DOM doesn't support `Comment` nodes.

[2016-04-05 18:06] sparhami commented on #92
I'm working on adding support for this. Initially, this will only be supported for void tags (e.g. `input` and `img`).

According to the spec, you can also have self-closing tags in SVG/MathML content (e.g. `<svg><path/></svg>`). All other self-closing tags are invalid HTML, though (all?) browsers treat them as just start tags rather than throwing a parse error. Since telling SVG content apart fro

[2016-04-05 18:20] sparhami commented on #88
Looks like it isn't happy about things being too indented in the generated code. I can bump up the limit of what it allows a bit.

[2016-04-05 18:23] mairatma commented on #92
Yeah, not using self closing tags is no problem now that I know about this. I just wanted to let you know because the behavior was unexpected, hard to debug.
Thanks for taking a look at this :)

[2016-04-05 18:40] sparhami commented on #91
I don't think this has been synced yet to the opensource repo, but I updated closure-templates-incrementaldom on npm with a fix.

[2016-04-05 18:42] sparhami commented on #85
Looks like this just needs to be synced over to Github. In the mean time, you can use the version on NPM which I'll try to update somewhat often:

https://www.npmjs.com/package/closure-templates-incrementaldom

[2016-04-05 20:09] eduardolundgren commented on #91
Thanks @sparhami, we will test it.

[2016-04-05 20:11] eduardolundgren commented on #89
Stripping the comments should be fine for now.

[2016-04-06 17:41] eduardolundgren commented on #88
Bump the limit of indentation would help. Thanks.

[2016-04-14 11:46] StefanLiebenberg opened #94 "Compiler warning for unused variable in soyutils_usegoog.js"
Using the new linting checks with closure compiler, I get this warning

[2016-04-14 15:48] bregenspan commented on #65
I'm closing this out because https://github.com/google/closure-templates/issues/30 would solve the same problem nicely and work with current common build tools.

[2016-04-14 15:48] #65 closed

[2016-04-17 03:02] eduardolundgren commented on #88
Did you include the indentation bump fix on the latest release?

[2016-04-18 17:19] sparhami commented on #88
I can add a new version that includes it, just want to get in one more change first.

[2016-04-18 18:34] eduardolundgren commented on #88
Thanks, this one will remove lots of work-arounds from our code to avoid deep indentation.

[2016-04-19 20:24] jonnybot0 commented on #79
We've encountered this problem as well, currently tracking it down. You wouldn't be using [grunt-closure-soy](https://github.com/tactivos/grunt-closure-soy) or some other abstraction that's pulling in the closure-templates library some other way?

[2016-04-19 23:52] sparhami commented on #88
Version 0.0.3 on npm should have this fixed.

[2016-04-20 00:17] eduardolundgren commented on #88
Cool, thanks!

[2016-04-20 14:50] mairatma opened #96 "SoyToIncrementalDomSrcCompiler issue with html|string param"
If a param's type is defined as `html|string` it will always be rendered as a string, so passing html will try to render a function instead. For example:

[code]

This soy is compiled to:

[code]

[2016-05-04 21:19] hochhaus opened #97 "Sync with closure-compiler and closure-library release"
@Ubehebe Any chance that closure-templates can be released on the same interval as closure-{compiler,library}?

My reason for asking is that I have recently been working on some improvements to [Closure Rules](https://github.com/bazelbuild/rules_closure). If the Closure Rules releases could be sync'ed with the rest of closure tools that would be ideal (https://github.com/google/closure-compiler/is

[2016-05-11 15:55] mairatma commented on #91
Btw, we've checked and this has indeed been fixed for the `closure-templates-incrementaldom` npm package.

[2016-05-18 16:56] MarkusBordihn opened #98 "Feature request: Providing tar.gz download url"
At the moment the closure template compiler is only available as "zip" file:
https://dl.google.com/closure-templates/closure-templates-for-javascript-latest.zip

For compatibility reasons it would be great to have an "tar.gz" version as well:
https://dl.google.com/closure-templates/closure-templates-for-javascript-latest.tar.gz

[2016-05-30 19:03] jart opened #99 "Closure Templates Protobuf support"
Google has excellent internal support for using protobufs in Soy templates. But it's not available in the open source world. @lukesandberg [said](https://groups.google.com/forum/#!topic/closure-templates-discuss/PAXx6SKMm5Y) this feature is planned, but no one is currently working on it.

What would it take to expedite this process @Ubehebe? Would @thomasvl and @xfxyjwf who are working on open sou

[2016-06-01 17:08] jart commented on #80
@Ubehebe This issue seems to be causing a lot of problems. Could you please take a look at this issue?

[2016-06-02 18:34] mikesamuel commented on #46
The next POM release will use

[code]

and the properties section has been changed to update java.version to 1.7.

[2016-06-02 18:37] mikesamuel commented on #98
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.template%22%20AND%20a%3A%22soy%22 has download links for all the published artifacts and those are properly signed as well.

[2016-06-02 18:42] mikesamuel commented on #78
The [maven central](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.template%22%20AND%20a%3A%22soy%22) download links are versioned and there are checksums for each artifact.  Does that suffice?

[2016-06-02 18:57] #77 closed

[2016-06-02 19:03] MarkusBordihn commented on #98
My use case is an build framework / script which is automatically fetching the latest version.

If I want to use maven for this I need to build something for the maven api to find and fetch the latest version. (Which I want to avoid, if possible)

[2016-06-08 07:26] mapx opened #100 "SoyToPySrcCompiler: java.lang.ClassCastException"
Failed to compile soy files into python templates with `soy-2016-01-12-SoyToPySrcCompiler.jar`:
[code]

[2016-06-08 16:04] lukesandberg commented on #100
This bug was fixed internally but the fix hasn't been sync'd out yet...  i believe @mikesamuel  is working on a release

[2016-06-11 06:13] mapx commented on #100
Bravo! Fixed!
Thanks!

[2016-06-11 06:13] #100 closed

[2016-06-17 06:45] StefanLiebenberg opened #102 "literal tag and comments not working together nicely with toSourceString"
We do some pre-processing of our templates, which involves running visitors on the SoyFileSetRootNode, modifying the tree and printing it all back to soy files with `.toSourceString`

When there is a `/** */` comment inside the `{literal}` a literal tag, its not preserved well in this paradigm.

For example, the following template:

[code]

Will become this after `toSourceString`

[code]

Now the

[2016-06-22 16:08] robfig opened #104 "SoyFileSet.extractMsgs - error in one template truncates message bundle"
Reproduction: Create a SoyFileSet containing two files: a valid file with a message and one that lacks a namespace declaration

Example file content:

foo.soy
[code]

invalid.soy
[code]

If the valid file is added first, extractMsgs() will return its message. If the invalid soy is added first, then the bundle will not contain the message. In that case, SoyFileSet.generateTemplateRegistry also excl

[2016-06-27 12:55] thomas-schwebel opened #105 "Discrepancy between sanitisation of Java and JavaScript templates (autoescaping of let value)"
Hi,

I am using a compiled Soy template to Javascript and I am running into an escaping issue.
Printing an intermediate value built with `let` and a kind of "html" escapes its content.
I am not sure if this is an issue or I am maybe just missing the correct way to do it.

The same approach works on the server side (with Java) but not when compiled to Javascript. This discrepancy for such a trivial

[2016-06-27 13:37] matiwinnetou commented on #105
+1, this is confusing

[2016-06-28 11:32] matiwinnetou commented on #105
Perhaps this is bug or a proper "gotcha".

[2016-06-29 07:50] hamaron commented on #56
@lukesandberg Bump. Could this change be pulled into the next release?

[2016-07-03 12:40] matiwinnetou commented on #105
Could somebody help to find out what is going wrong?

[2016-07-04 12:39] thomthom opened #106 "TypeError: goog.isString is not a function"
I ran into an issue where when I use Closure Templates standalone I get the following error: `test.js:20 Uncaught TypeError: goog.isString is not a function`

<details>
<summary>test.html</summary>
[code]
</details>

[2016-07-04 13:10] thomthom commented on #106
I added the following snipped in a separate js file that I loaded and that worked around the `isString` error:

[code]

But I then ran into a new error:

[code]

Is there a different way to do this? Or is it a bug?

[2016-07-06 00:08] eduardolundgren commented on #88
Just to confirm that it's working fine now. Thanks.

[2016-07-06 00:08] #88 closed

[2016-07-07 17:48] lukesandberg commented on #105
with autoescape="strict" this isn't reproducible at head. (are you using a different escaping mode?)

In theory the call to soy.$$escapeHtml(bar_soy308) should be a no-op since bar__soy308 was sanitized just above, this is what happens when i try to debug through these functions.

I also tried syncing back to the 2016-01-12 release and also was unable to reproduce the issue.  My current theory is

[2016-07-11 15:10] thomas-schwebel commented on #105
Thanks for the reply @lukesandberg.
I've debugged again our code and I finally found the issue. It was on our side, we exported the wrong symbol for `soydata.VERY_UNSAFE.$$ordainSanitizedHtmlForInternalBlocks` which was always returning unsanitizedText.
Apologies.

[2016-07-11 15:10] #105 closed

[2016-07-14 23:18] mikesamuel commented on #102
Pulled internally and will be included in the next release.

[2016-07-14 23:18] #102 closed

[2016-07-15 01:17] mikesamuel commented on #106
Where did you get your `soyutils.js`?

[2016-07-15 09:34] thomthom commented on #106
From the `gulp-soynode` npm module. I just compared it to the zip file from this page: https://developers.google.com/closure/templates/docs/helloworld_js
...and I see they are different.

It looks like the `gulp-soynode` module makes use of `closure-templates`: https://www.npmjs.com/package/closure-templates

I has seen the `closure-templates` folder in the `node_modules` folder and assumed that w

[2016-07-15 20:08] mikesamuel commented on #104
https://github.com/google/closure-templates/blob/master/java/src/com/google/template/soy/SoyFileSet.java#L715-L716 says

[code]

That refers to problems enabling throwIfErrorsPresent because of quirks of the existing codebase.
I'll see if I can enable that for the open-source build.

[2016-07-19 01:29] lukesandberg commented on #102
@StefanLiebenberg

could you let us know what kind of preprocessing you are doing?  toSourceString isn't a well supported api (we mostly just use it for debugging internally), so there might be some other, better api we can point you towards

[2016-07-19 07:09] StefanLiebenberg commented on #102
We have two usages for this at the moment,

Our build flow is as follows, we do pre-processing of the soy ast, and we print it out to new soy files. The new soy files are compiled to JavaScript and also copied into a zip container. The zip container is uploaded to our service which unpacks, compiles and serves the new soy files.

The first use case for this to support conflicting deltemplates with

[2016-07-19 15:04] lukesandberg commented on #102
For the second case (plugin functions), it should be possible to do everything you need via the normal plugin mechanism.  You can implement a SoyJsSrcFunction that just calculates the result inline.

For the first case, you could potentially handle this entirely outside of the ast by changing the way you issue your compilation commands (just don't include the delpackages you don't want).

The reas

[2016-07-21 17:01] mikesamuel commented on #99
https://github.com/google/closure-templates/commit/92286d921b69339807e1de90235364d82b2f6997 open-sources a lot of previously google-only code related to protocol buffers.

[2016-07-21 17:03] mikesamuel commented on #106
https://github.com/google/closure-templates/commit/169d5b015ef67418cd70cbf55549068c81eb6197 may address this, though I'd still like to hear whether a recent soyutils.js fixes this.

[2016-07-21 17:04] mikesamuel commented on #97
I would like to establish a common parent POM for the closure-* properties, now that closure-stylesheets has a [maven based build](https://github.com/google/closure-stylesheets/commit/bb4ce4d4c5ba3528340c9a86f28b3eac540ea300).

[2016-07-21 17:05] mikesamuel commented on #97
I'll float the issue.

[2016-07-21 17:52] jart commented on #99
I'll start integrating this into a Closure Rules branch over the next week, in addition to writing tests and migrating my team's service. If there are any remaining issues, I should hopefully be able to spot them. Then I imagine once new releases are cut, we can start bringing this exciting news to the Closure community.

CC: @hochhaus @wolfgangmeyers

[2016-07-21 18:12] hochhaus commented on #99
Thanks @mikesamuel!

I see that SoyToJsSrcCompiler.jar now has a --protoFileDescriptors flag. However, SoyToIncrementalDomSrcCompiler.jar does not have a similar flag.

Are protobufs supported in idom templates? If so, code that code be open sourced as well?

[2016-07-21 18:42] jart commented on #99
@lukesandberg might be a good person to answer @hochhaus' question regarding SoyToIncrementalDomSrcCompiler supporting protocol buffers.

[2016-07-21 19:45] thomthom commented on #106
Yes - I'll report back. I have been delayed in testing a newer `soyutils.js` because I had to prioritise some urget work. I should be able to get to it next week.

[2016-07-22 04:40] hochhaus commented on #99
@mikesamuel I looked into using SoyToJsSrcCompiler.jar with --protoFileDescriptors but the variable for that flag appears to not be read. Is it possible some required glue is missing in the open source repo?

[code]

[2016-07-22 05:15] jart commented on #99
Yes it actually turns out we forgot to ask moe to open source one important
chunk of code, off in a main function. We'll get that out soon. Thanks for
taking the time to help us test this!

On Jul 22, 2016 12:40 AM, "Andy Hochhaus" <notifications@github.com> wrote:

[2016-07-22 14:32] mikesamuel commented on #46
Upgrading to maven-compiler-plugin:3.5.1 fixes this.

[2016-07-23 00:20] lukesandberg commented on #99
SoyToIncrementalDomSrcCompiler should support protos just as well as
SoyToJsSrcCompiler.  Sorry I haven't been following the opensource efforts
to closely but my guess is that it is just missing a tiny bit of glue code

On Thu, Jul 21, 2016 at 10:15 PM Justine Tunney <notifications@github.com>
wrote:

[2016-07-23 04:14] mikesamuel commented on #99
@hochhaus Yeah.  I've got a change pending to add the flags.  I'll push that soon.  Sorry for the delay.

[2016-07-29 02:37] hochhaus commented on #99
Awesome. I see the `--protoFileDescriptors` flag has landed for both soy compilers. I'll be playing with this new functionality tonight!

@mikesamuel Thanks for all of the work it took to get this released.

[2016-07-29 19:49] jart commented on #99
Now that the missing functionality is in, are we ready to do another Maven push @mikesamuel?

Also, I took the trouble of writing [release notes](https://github.com/bazelbuild/rules_closure/releases/tag/0.2.5) for the Soy release you cut last week. I spent a lot of time scrolling through commits to do that as best as I could. You might want to copy/paste what I wrote and use it for the release not

[2016-07-29 21:01] mikesamuel commented on #99
Yes Andy.  Thanks for doing the remotes, Justine.  I'll push to central

[2016-08-03 16:44] mairatma commented on #92
@sparhami do you have any updates on this? There are more people using this now and asking me about it.

Also, it would be even better if you could just allow self closing tags for everything. Developers are very used to being able to do this, which makes using soy templates more complicated. Since browsers don't complain, there shouldn't be a problem, right?

[2016-08-03 16:47] mairatma commented on #96
Hey, does anyone have an update on this? It's been great being able to use soy compiled to incremental dom, but this kind of use case (which is very common) is just not possible anymore :(

[2016-08-03 17:42] sparhami commented on #92
Self closing tags should now be supported for SVG content and void elements. Not sure if they have made it to the Github release yet. So you should be able to do:

[code]

SVG content has some support, but if the SVG content (e.g a `<circle>` tag) appears in a separate template, then the compiler will complain, since it can't be sure that it is SVG content (which does allow for self-closing tags).

[2016-08-03 17:48] sparhami commented on #96
Looks like support for this should be in the Github version now.

[2016-08-03 18:13] mairatma commented on #92
Thanks, could you publish a version on [npm](https://www.npmjs.com/package/closure-templates-incrementaldom) with this and the other [issue](https://github.com/google/closure-templates/issues/96#issuecomment-237313394) you've commented on? That would be really helpful!

[2016-08-03 18:17] mairatma commented on #96
Do you know if this fix also covers https://github.com/google/closure-templates/issues/90? It's a very similar one.

Also, like I mentioned in https://github.com/google/closure-templates/issues/92, would it be possible to publish a new version of the [npm package](https://github.com/google/closure-templates/issues/92) with this?

[2016-08-09 22:03] mikesamuel commented on #99
Sorry for the delay.  `<version>2016-08-09</version>` contains support in the jbcsrc, jssrc, and tofu backends.

- http://search.maven.org/#artifactdetails%7Ccom.google.template%7Csoy%7C2016-08-09%7Cjar

The jssrc backend requires the jspb namespace which is provided at https://github.com/google/protobuf/tree/master/js/message.js and the debug.js and map.js files.

[2016-08-13 19:38] mikesamuel commented on #99
That last push was missing some JavaScript library code needed by the jssrc backend.

https://github.com/google/closure-templates/blob/master/pom.xml#L820-L826 specifies a new JAR which bundles all the supporting JS files.

[2016-08-22 23:23] hochhaus commented on #99
Thanks for adding the jssrc jar. I am still seeing some missing namespaces though. Could you point me at the open source code that provides the following namespaces?

[code]

[2016-08-23 12:33] mikesamuel commented on #99
You have to compile html.proto to js.  I can attach the js once I've got more than a mobile device available but you can get the .proto file from github.com/google/safe-html-types.

[2016-08-23 12:48] hochhaus commented on #99
Thanks Mike. No need to attach the js, now that I know where it is located I can generate it.

[2016-08-29 15:38] mairatma opened #108 "SoyToIncrementalDomSrcCompiler issue with {msg} commands"
If you pass html to a `{msg}` command the content is rendered in the wrong position. That's because it's sent to `goog.getMsg` as an incremental dom function, which it doesn't know how to handle.

For example, take this template:

[code]

It gets compiled to this:

[code]

Looks right, but the `itext` call will only accept raw text, so even if `goog.getMsg` knew how to handle incremental dom funct

[2016-08-29 15:39] mairatma commented on #96
Hey @sparhami, could you publish a new version of the npm package with this and other fixes? We're really struggling to use incremental dom without this :(

[2016-08-29 17:16] sparhami commented on #96
Sorry, haven't had a chance to do so yet. Working on it. Long term, I think Github will be the place for the latest version.

[2016-08-29 17:30] mairatma commented on #96
Could you explain how I would use the version here in github? Would I need to build the jar myself? If so, which steps would I need to follow? If I can at least build it I could add it directly in my project for now, instead of getting from npm.

[2016-08-29 19:15] mashedcode commented on #96
@mairatma you can simply build and test everything with `mvn install`.

The jar files will be then located in the `target/` folder.

[2016-08-29 19:21] hochhaus commented on #96
Also, jars are available on maven.org

http://repo1.maven.org/maven2/com/google/template/soy/2016-08-25/soy-2016-08-25-SoyToIncrementalDomSrcCompiler.jar

[2016-08-29 19:30] mairatma commented on #96
Thanks a lot! Will try.

[2016-08-30 14:53] mairatma commented on #90
Just FYI, I've confirmed that this is fixed in the most recent version in github and maven.

[2016-08-30 14:56] mairatma commented on #89
This also seems to have been fixed in the most recent version. Thanks!

[2016-08-30 15:09] eduardolundgren commented on #89
Thanks.

[2016-08-30 15:09] #89 closed

[2016-08-30 15:12] #91 closed

[2016-08-30 15:12] #92 closed

[2016-08-30 15:12] #96 closed

[2016-08-30 15:13] eduardolundgren commented on #90
Thanks.

[2016-08-30 15:13] #90 closed

[2016-08-31 16:58] jart commented on #99
This issue appears to be resolved. It's now being integrated into the Closure Rules build system! https://github.com/bazelbuild/rules_closure/pull/124

[2016-08-31 16:58] #99 closed

[2016-09-01 21:41] azhao12345 opened #109 "the javadoc"
where is the javadoc

[2016-09-03 19:23] mikesamuel commented on #109
http://javadoc.io/doc/com.google.template/soy/2016-08-25

[2016-09-03 19:23] #109 closed

[2016-09-20 02:07] #85 closed

[2016-09-23 18:38] mairatma opened #111 "SoyToIncrementalDomSrcCompiler issue on Windows"
The most recent version of the compiler available in [maven](http://repo1.maven.org/maven2/com/google/template/soy/2016-08-25/soy-2016-08-25-SoyToIncrementalDomSrcCompiler.jar) is currently throwing errors when building soy files that were edited in Windows.

For example, take this simple soy file created on a Windows machine:

[code]

It triggers the following error:

[code]

[2016-09-23 18:56] sparhami commented on #111
The error message seems to come from the parsing pass before the Incremental DOM code generation. Could you confirm whether or not this happens when trying to compile the same file to Java or JavaScript?

[2016-09-23 19:07] mairatma commented on #111
Yes, same thing happens when using SoyToJsSrcCompiler instead.

[2016-10-06 20:00] mairatma opened #112 "SoyToIncrementalDomSrcCompiler doesn't allow using variable to define attribute name"
Take the following template:

[code]

This causes the compiler to throw an error like this:

[code]

I've noticed that it allows the right side of the assignment to be a variable, but not the left one. For example, this wouldn't throw an error, since the attribute name is not a variable anymore:

[code]

I understand that the compiler needs the format to be very specific so it can transform it int

[2016-10-06 21:59] sparhami commented on #112
Just to note, this restriction also exists for tag names.

One problem with allowing a variable as the attribute value is it is hard to tell if, for example, the variable name might end up being something like onclick. You would not want to use with a user supplied value. If the attribute name is the result of an arbitrary expression, you can't really determine what it is.

I believe if you use th

[2016-10-10 14:58] mairatma commented on #112
@sparhami yeah, we're currently using soy templates with incremental dom in a library we've created for building components. We'd like to allow developers to specify html attributes that they want to add to a component's element, without having to create a specific option to each possible attribute that they may wish. So basically, the idea is receiving an object from attribute names to their valu

[2016-10-10 17:27] sparhami commented on #112
Typically the way we have structured this in soy templates is to do something like:

[code]

Which would then be used as follows:

[code]

This allows the attributes logic to live entirely in the templates rather than being split up between JS and the templates. Does this pattern work for your use case?

[2016-10-10 18:34] mairatma commented on #112
Is there a way to convert a javascript object or something like that so it can be passed as an `attributes` type? The call site wouldn't be another soy template, just javascript, passing some data down to this component.

[2016-10-11 16:45] sparhami commented on #112
Could you expand a bit on what kind of attributes would be added here? It isn't quite clear how the use case exactly goes, but I would recommend keeping the attributes logic in Soy itself if you can. Another option might be for the call site to pass a Soy template that contains the attributes they want in it. Something like:

[code]

And if they need some data to render those, they could either bi

[2016-10-11 17:01] mairatma commented on #112
Unfortunately we can't pass it down via soy, our library is template agnostic, so the call site for a soy component doesn't need to be using soy too. When a soy component is exported people don't even need to know it used soy, they can call it passing params directly from javascript.

Converting the object to `IncrementalDOM` calls is a good idea, but it would only work on javascript side, and we

[2016-10-11 17:21] rlambert27 opened #113 "Question about parameters"
Hello,

I don't have an issue really, I have a question. We compile our SOY files and in our web pages we have sections that relate to 5 different templates in our compiled JS file. One of the parameters is common to all 5 templates but our developers need to declare this parameter in each call to the compiled JS file.

Is there an easier way of doing this? Like a global option that would be set o

[2016-10-11 17:32] hochhaus commented on #113
Yes, closure templates support globals. In JS you can bind them at compile or render time.

https://developers.google.com/closure/templates/docs/javascript_usage#globals

Be careful using render time globals though as doing so creates a tight dependency your templates and runtime.

[code]

[2016-10-11 17:59] sparhami commented on #112
Now that you mention it, it seems like it is supported for Java code generation so I don't think there is any reason not to support it for Incremental DOM code generation.

[2016-10-11 19:13] rlambert27 commented on #113
Would you have a simple example of this? I'm trying to wrap my head around where I would declare this global variable? I'm using the SoyToJsSrcCompiler file but i'm unsure where to add the global variable?

I don't see an example of this in the sample code files.

[2016-10-14 19:39] mairatma commented on #111
@sparhami do you have an idea of when a fix for Windows could be released (either on maven or npm)? We have some developers on Windows which are being blocked by this :(

[2016-10-16 20:55] jmhodges opened #114 "build is broken again: DeclInfo compile errors"
Running `mvn compile` causes the build to break with:

    [ERROR] COMPILATION ERROR :
    [INFO] -------------------------------------------------------------
    [ERROR] /Users/jmhodges/src/github.com/google/closure-templates/target/generated-sources/javacc/com/google/template/soy/soyparse/TemplateParser.java:[1661,23] constructor DeclInfo in class com.google.template.soy.soytree.TemplateNodeBui

[2016-10-16 21:02] jmhodges commented on #114
Ack, looks like there was an old version of the build cached somewhere on my machine that was causing this breakage.

Closing!

[2016-10-16 21:02] #114 closed

[2016-10-17 17:11] sparhami commented on #111
Could you upload an example file that exhibits the problem somewhere?

[2016-10-17 17:24] mairatma commented on #111
Sure, here it is: [Modal.soy.zip](https://github.com/google/closure-templates/files/534230/Modal.soy.zip)

[2016-10-17 17:54] sparhami commented on #112
Looks like adding the windows newline to the list of skipped characters here works for that error. That is, add `|  "\r\n"` to

https://github.com/google/closure-templates/blob/8c383d18fd8bfc3a4e68167ff96821011940638a/java/src/com/google/template/soy/soyparse/SoyFileParser.jj#L537

But this brings up another error:

Looking at a hexdump of the file, it looks like the `/**` is actually "2f0a 2a2a"

[2016-10-17 17:55] sparhami commented on #111
Looks like adding the windows newline to the list of skipped characters here works for that error. That is, add `| "\r\n"` to

https://github.com/google/closure-templates/blob/8c383d18fd8bfc3a4e68167ff96821011940638a/java/src/com/google/template/soy/soyparse/SoyFileParser.jj#L537

But this brings up another error:

Looking at a hexdump of the file, it looks like the `/**` is actually "2f0a 2a2a" o

[2016-10-17 18:10] mairatma commented on #111
Just so you know, it seems like this used to work with the compiler available in [npm](https://www.npmjs.com/package/closure-templates-incrementaldom). At least windows users were using it without any problems back then.

[2016-10-18 11:16] damishaziz commented on #111
i am facing the same issue on Windows. You have to just modify your soy file like this...

{namespace Modal}/****/{template .render}
  <div>Hello World</div>
{/template}

i mean remove the Enter key.

[2016-10-26 13:55] lukesandberg commented on #111
Looks like this breakage was introduced by https://github.com/google/closure-templates/commit/e1a9d36a371c303b316ff3d9df22ec547b81c4ba due to what appears to have been an accidental change in our grammar.

A fix should be available soon.

[2016-10-28 17:06] rlambert27 commented on #113
Would anybody have an example of this?

[2016-10-28 17:27] rlambert27 opened #116 "Parameters in lowercase"
Hello,

Is their a function to set the parameters to lowercase? Some developers are not putting their parameters in lowercase so when we loop through our IF functions in the SOY file a parameter from the developer like "envQAT" doesn't match what we have in our SOY which would be "envqat".

Is their a way to take the parameter from the developer and force it to lowercase?

I check the soyutils fil

[2016-11-02 19:37] pcj opened #117 "How to iterate over protobuf repeated field?"
Trying out the new protobuf support!  I was expecting this to work:

[code]

[code]

What am I doing wrong? Is it possible to iterate over repeated fields?

[2016-11-02 19:39] lukesandberg commented on #117
The accessor is named foobarsList. Try that
On Wed, Nov 2, 2016 at 12:37 PM Paul Cody Johnston <notifications@github.com>
wrote:

[2016-11-02 19:45] pcj commented on #117
Wow fastest response ever.  It works, thank you!

![](http://i.giphy.com/jErnybNlfE1lm.gif)

[2016-11-02 19:45] #117 closed

[2016-11-02 19:50] lukesandberg commented on #117
:)

In the google3 internal fork for closure-templates we actually have a
suggestion for this error (e.g. Did you mean .foobarsList?), but it relies
on a google internal edit distance library.. there was an effort to open
source that library (which would make it easy for us to opensource our typo
suggestions).  I'll follow up on that.

On Wed, Nov 2, 2016 at 12:45 PM Paul Cody Johnston <notificati

[2016-11-15 09:28] SerCeMan opened #118 "StackOverflowError during template compilation"
Hello!

First of all, thank you for the great template library!

We have a decent amount templates and recently we started getting SOE during initial soy templates compilation:
[code]
Error:
[code]

The easiest way to reproduce the problem is to decrease jvm stack size (-Xss).

[2016-11-15 09:29] SerCeMan commented on #118
We are low on memory and can't increase the stack size. We also tried `SoyToJbcSrcCompiler`, but it doesn't work.

What do you think about using different regex library like [re2j](https://github.com/google/re2j)?

[2016-11-15 16:28] lukesandberg commented on #118
I would guess that this is the regex causing trouble
https://github.com/google/closure-templates/blob/8c383d18fd8bfc3a4e68167ff96821011940638a/java/src/com/google/template/soy/parsepasses/contextautoesc/RawTextContextUpdater.java#L932

I fixed a bug with that particular regex in https://github.com/google/closure-templates/commit/e1a9d36a371c303b316ff3d9df22ec547b81c4ba

(the trick was to make one

[2016-11-16 10:46] SerCeMan commented on #118
Yes, I just made a mistake and didn't update the app to a new version of soy properly. Thank you, latest version looks good.

But do you have any plans for `SoyToJbcSrcCompiler`. Or it is more like experimental project?

[2016-11-16 10:46] #118 closed

[2016-11-23 07:47] hochhaus opened #119 "idom elementOpenStart support for key attribute"
I'm trying to use the soy idom `key` attribute with `elementOpenStart`/`ie_open_start`? Sepand mentioned in https://github.com/google/incremental-dom/issues/96#issuecomment-262438036 that such support was recently added internally.

Would it be possible to sync the internal google repo and cut a fresh release?

[2016-12-04 01:45] lukesandberg commented on #118
SoyToJbcSrcCompiler is no longer considered experimental.  we are running it in a number of large applications at google and have seen some positive results (faster rendering, better thread utilization).  The main thing is that we need to publish some examples.

There is documentation of incompatibilities with Tofu here: https://github.com/google/closure-templates/tree/master/java/src/com/google/t

[2016-12-04 01:51] SerCeMan commented on #118
@lukesandberg,

We were getting these errors with jbcsrc:
[code]
->
[code]

and

[code]
->
[code]

[2016-12-04 01:57] lukesandberg commented on #118
could you open another issue and provide more information (how big is this template?)

[2016-12-08 17:44] Robert-Frampton opened #120 "Template commands nested in {literal} ... {/literal} are still parsed."
According to [Closure documentation](https://developers.google.com/closure/templates/docs/commands#literal) all text within `{literal}` blocks should not be parsed, including template commands.

[code]

When attempting to render this template, the following error is thrown.

[code]

A similar error is thrown if `{namespace ns}` is included inside the `{literal}` tags.

[2016-12-14 04:31] lukesandberg commented on #120
I cannot reproduce this at head.  and based on the fact that the error displays a 'Lexical error' (which im pretty sure i completely eliminated about a year ago), im guessing you are on an older version of soy.

can you see if this still reproduces with a more up to date version

[2016-12-14 04:38] lukesandberg commented on #116
there is no such utility.

if you use closure compiler (and pass --shouldGenerateJsDoc) you should be able to get type checking from the compiler.  Otherwise i suggest using unit tests :/

[2016-12-14 04:38] #116 closed

[2016-12-14 04:44] lukesandberg commented on #113
globals are good for constants.  you can reference them from soy like

{template .foo}
  {if some.global.reference}hello{/if}
{/template}

and then pass them to the compiler by writing the definitions into a 'properties' file that looks like

some.global.reference=false

and passing it to the compiler via the --compileTimeGlobals flag.  If you don't pass the flag (and are only generating javascrip

[2016-12-14 04:44] #113 closed

[2016-12-14 05:10] eduardolundgren commented on #120
@Robert-Frampton Are you using soy to incremental dom compiler?

[2016-12-14 19:23] Robert-Frampton commented on #120
I'm testing with a very simple test case with [soynode](https://www.npmjs.com/package/soynode), which implements the latest version of the [closure-templates](https://www.npmjs.com/package/closure-templates) npm package.

However it looks like this package hasn't been published for some time, which is probably why I ran into this issue.

[2016-12-14 21:34] mairatma commented on #120
Yes, I think that even though there's a new version of the soy compiler, this **closure-templates** npm package doesn't have it yet. The version in [maven](http://repo1.maven.org/maven2/com/google/template/soy/2016-08-25/) is from August of this year while closure-templates is still on 2015, unfortunately. Updating it would probably work.

[2016-12-19 19:58] nicks opened #121 "SoyMsgExtractor fails silently on invalid templates"
Repro steps:

1) Create a syntactically invalid template, e.g.,
[code]
2) `java -jar target/soy-2016-07-21-SoyMsgExtractor.jar --srcs example.soy --outputFile foo.xlf`

Expected:
SoyMsgExtractor should fail with an error

Actual:
SoyMsgExtractor success, outputs an empty xlf file

[2016-12-19 20:20] nicks opened #123 "SoyMsgExtractor crashes when given a plural"
Repro steps:
1) Create a soy template with a plural
[code]

2) `java -jar target/soy-2016-07-21-SoyMsgExtractor.jar --srcs example.soy --outputFile foo.xlf`

Expected result:
should output a valid xlf

Actual result:
[code]

[2016-12-19 20:48] brunobasto opened #124 "Usage example for SoyToJbcSrcCompiler"
Is there an usage example for the `SoyToJbcSrcCompiler`? Something on the lines of the `SoyToPySrcCompiler` or `SoyToJsSrcCompiler` would be nice.

Also, I don't see a jar for this specific compiler. I'm just running `mvn` at the root of the project. Is there anything else I need to do?

Thank you!

[2016-12-19 22:18] nicks commented on #123
i'm going to try implementing a version of this spec
http://docs.oasis-open.org/xliff/v1.2/xliff-profile-po/xliff-profile-po-1.2-cd02.html
which provides some guidance of how plurals from other systems should interoperate with xliff, given that there's no official xliff/plurals standard.

[2016-12-19 23:05] chrisdoble opened #125 "Closure Compiler new type inference support"
Can the Closure Templates JavaScript library be compiled with Closure Compiler's new type inference algorithm? I'm using the following Bash script to test (where `~/src/closure-library` contains v20161201 of the Closure Library and `~/src/closure-templates` contains v2016-08-25 of Closure Templates):

[code]

No warnings are reported if the `--new_type_inf` option isn't passed to the Closure Compi

[2016-12-20 03:13] lukesandberg commented on #124
yeah sorry.  while this is being used at google, open source examples/artifacts have not been produced as of yet.  I'm not sure when we will get around to this, but ill assign it to myself so i don't easily forget

[2016-12-20 14:15] brunobasto commented on #124
That would be awesome. Thanks again.

[2016-12-20 18:16] marisev commented on #106
Hi,

I'm also running into "goog.isString is not a function" error. Just downloaded the most recent zip from https://developers.google.com/closure/templates/docs/helloworld_js . Trying to declare a parameter inside template:
[code]
Any advice? Should I download "soyutils.js" from github source?

Thanks!

[2017-01-03 10:35] tipsy commented on #111
@lukesandberg any update on this?

[2017-01-18 15:26] prasannasv commented on #111
@lukesandberg any ETA on this?

[2017-01-18 18:04] mikesamuel commented on #125
Yes.  soyutils should compile clean with the new type inference once it's stable, and IIRC it's getting there.  There's a number of changes rolled up into the next version, so I'll check how many of those warnings persist after I push that out.

[2017-01-31 08:24] hochhaus commented on #119
@lukesandberg @mikesamuel This is causing me some pain for a project that I'm working on. Any chance of a new release in the next few weeks?

[2017-02-01 00:36] mikesamuel commented on #119
I'll try to get one out tomorrow.

[2017-02-01 20:30] #111 closed

[2017-02-01 21:18] mikesamuel commented on #119
https://github.com/google/closure-templates/releases/tag/release-2017-02-01 and I'm pushing to nexus.

[2017-03-09 21:55] craph opened #127 "Cannot read property 'assertType' of undefined when using soyutils.js on soy generated by SoyToJsSrcCompiler.jar"
Take the following template :
[code]

This template produce this JavaScript file output :
[code]
But I am getting this error : Cannot read property 'assertType' of undefined

I am using the latest version of the Maven dependency and the latest version of closure-templates-for-javascript via :

In soyutils.js I cannot find this function :
`soy.asserts.assertType(...)`

Also I am using jQuery 1.7.2

[2017-03-10 10:57] craph opened #128 "NoSuchMethodError : com.google.common.base.Preconditions.checkArgument"
I have updated my soy maven dependency from 2016-08-25 to 2017-02-01

and now when I am trying to :
`soyFileSet.compileToJsSrc(...,...)`

	at com.google.template.soy.soytree.RawTextNode$SourceOffsets$Builder.add(RawTextNode.java:416)
	at com.google.template.soy.soyparse.RawTextBuilder.append(RawTextBuilder.java:180)
	at com.google.template.soy.soyparse.RawTextBuilder.addBasic(RawTextBuilder.java:1

[2017-03-10 12:57] craph commented on #128
I have two versions of guava : 19.0 and 20.0
I fixed this by including only guava 20.0 but now I have another issue :

	at com.google.template.soy.soytree.RawTextNode$SourceOffsets$Builder.add(RawTextNode.java:423)
	at com.google.template.soy.soyparse.RawTextBuilder.append(RawTextBuilder.java:180)
	at com.google.template.soy.soyparse.RawTextBuilder.addBasic(RawTextBuilder.java:101)
	at com.google.

[2017-03-10 13:13] lukesandberg commented on #127
This must mean that your version of soyutils is out of date. Maybe you have
multiple versions floating around?
On Thu, Mar 9, 2017 at 4:55 PM craph <notifications@github.com> wrote:

[2017-03-10 13:19] lukesandberg commented on #128
The second issue is a known bug unfortunately. I should be able to look at
it this week, sorry.

On Fri, Mar 10, 2017 at 7:57 AM craph <notifications@github.com> wrote:

[2017-03-10 13:28] craph commented on #127
I have only one version of soyutils.

I have downloaded this version here : [https://developers.google.com/closure/templates/docs/helloworld_js](url)

Where can I found the latest version of soyutils ?

[2017-03-10 13:30] craph commented on #128
So the best way is to downgrade the version and return to the : 2016-08-25 ?

[2017-03-10 13:55] lukesandberg commented on #128
For the time being probably. This bug only affects certain templates so you
may be able to find a workaround by finding the template that is triggering
the bug. This would also be some useful data for me :)
On Fri, Mar 10, 2017 at 8:30 AM craph <notifications@github.com> wrote:

[2017-03-10 14:11] craph commented on #128
This occured when I am trying to render template with ContentKind.JS. that include some other contents from other soy template.

[code]
The problem occured when I pass in the If case :
[code]

Here is my template for the preparedContent :
[code]

[2017-03-10 14:18] lukesandberg commented on #128
Thanks! This helps me narrow down where the bug is. You could try
eliminating the {literal} tags and instead using {lb} and {rb} to print the
curly braces. I suspect the bug occurs when there are multiple literal tags
close to each other.
On Fri, Mar 10, 2017 at 9:11 AM craph <notifications@github.com> wrote:

[2017-03-10 14:20] craph commented on #128
I will try this and give a feedback to you.

Please, could you tell me where I can find the latest version of soyutils.js ?

[2017-03-10 14:23] lukesandberg commented on #127
The GitHub repo has the _usegoog version which is up to date.  I forget
exactly how we publish the version without closure.... perhaps there is a
mvn build for it.   The version on the developers site is out of date.

On Fri, Mar 10, 2017 at 8:28 AM craph <notifications@github.com> wrote:

I have only one version of soyutils.

I have downloaded this version here :
https://developers.google.com/clo

[2017-03-10 14:29] craph commented on #127
Could you have a look to provide us the correct soyutil.js ? or give me the correct way to have it ?
Without this soyutils.js I can't use `<param_type>` like string and others I only can use "?" as param_type

[2017-03-10 14:31] craph commented on #128
So, I have try to remove all content about others template that are used to produce the final soy file with content kind JS and now all is correct.

But the real problem seems to not be in my previous template but in the others.
I will try to make an extract for you of the others template

[2017-03-10 15:03] craph commented on #127
In simple-usage.html in this repo you it's mention to use soyutils.js
`<script type="text/javascript" src="../soyutils.js"></script>`
But I can't find this file on the repo

[2017-03-10 15:05] lukesandberg commented on #127
@mikesamuel do you know how the soyutils.js publishing works?

@craph the file is generated by combining the js files in this directory: https://github.com/google/closure-templates/tree/master/javascript into a final single file

[2017-03-10 15:11] craph commented on #127
@lukesandberg  What is the best way to use closure template in Javascript ? is it by using soyutils_usegoog.js ?

In my case, I think is by using soyutils.js because I am not using closure library.

Is it possible to have the developper site up-to-date too ?

[2017-03-10 15:43] craph commented on #128
The issue is seems to be in this template :
[code]
When I remove this template of the eca.templates.common part all is ok.

What is wrong in this template ?

This template is used here (it is the commonPrepared param) :
[code]

[2017-03-11 21:36] craph commented on #127
@lukesandberg have you found any way to generate soyutils.js ?

I have checked the pom but nothing about this file.

How is it possible because the developer site talks about soyutils.js ?

[2017-03-12 19:35] craph opened #129 "Missing soyutils.js in this GitHub Repository"
Hi,

I was looking for all examples for the usage of closure library  with Javascript and I think a file is missing in this repository.

This file is : `soyutils.js `
It's required when you don't have closure library

Please could you have a look and fix this ?

More over, the links in the README.md about latest Javascript compiler point to an out of date version. Please could you update this one.

[2017-03-12 20:09] craph commented on #127
I think the reason why soyutils.js is missing is because of these commits :
[Deprecate soyutils.js and recommend the _usegoog version.](https://github.com/google/closure-templates/commit/c67c9de9d61861858f5e2bfd38bb0b4c3dc9bc6f)
and
[Remove the non-Closure version of Soyutils.](https://github.com/google/closure-templates/commit/e74fcfa284a1e31d42ac93e53cb84a71f638c70b)

But could you explain and u

[2017-03-12 20:18] craph commented on #129
After some investigation in the history of this GitHub repo, I think the reason why `soyutils.js` is missing is because of these two commits :

1. [Deprecate soyutils.js and recommend the _usegoog version.](https://github.com/google/closure-templates/commit/c67c9de9d61861858f5e2bfd38bb0b4c3dc9bc6f)

2. [Remove the non-Closure version of Soyutils.](https://github.com/google/closure-templates/commit

[2017-03-13 13:55] Womps commented on #129
Hi !

In my team, we're trying to use this Framework in JavaScript too.

We have the same problem, following the documentation and examples on the github repository.

The file `soyutils.js` is linked, but this file is missing and we don't find it...

So, what we ask is how to use `soyutils_usegoog.js` version ?

[2017-03-13 15:41] eduardolundgren commented on #129
We had the same problem when `soyutils.js` was removed. We ended up maintaining our [own manual version](https://github.com/metal/metal.js/blob/master/packages/metal-soy-bundle/manuallyBuiltDeps.js) for simplicity and bundle size optimizations.

[2017-03-13 15:51] craph commented on #129
Thank for your reply @eduardolundgren

But if I read correctly the links mentionned in my previous comment, the best way is to use Closure Library.
That's why I asked the Google Team to know what is the best way to use `soyutils_usegoog.js` in those examples and which files/version of Closure Library we must use.

And finally if the documentation on the developers site can be updated and the examp

[2017-03-13 17:07] eduardolundgren commented on #129
@craph sure, that would be ideal from them to provide that information.

In the past we've figured out how to generate their bundle, the reason we ended up not using Google's version was file-size, it was around 40% bigger (IIRC) of the what we manually generated.

[2017-03-13 17:16] lukesandberg commented on #128
hmmm.  i am unable to reproduce the failure with the HEAD version of soy

i also tried the current version on github with no success.  will keep investigating

[2017-03-13 19:27] lukesandberg commented on #128
i was able to reproduce a similar failure when using an empty literal `{literal}{/literal}`

i haven't found any other way though.... does that make sense?

[2017-03-13 20:12] craph commented on #128
The problem occured when I am using this Soy :
[code]
and on the Java side I am doing this :
[code]
in the commonPrepared I have :
[code]
I will try to investigate tomorrow morning about this to give you more example to investigate.
But I think there is an issue somewhere.

[2017-03-13 21:07] craph commented on #129
@google-admin , @mikesamuel , @lukesandberg ,

Please could you give us some informations about that, update examples and explains how to use the `soyutils_usegoog.js` with closure library ?

[2017-03-15 14:29] mikesamuel commented on #127
Sorry to take so long to weigh in on this thread.

[https://github.com/google/closure-library/blob/master/closure/bin/build/closurebuilder.py#L16-L27](closurebuilder.py) should let you build a master JS file with the JS files in closure_templates/javascript/*.js.

I haven't tested this, but something like

[code]

should work assuming you've got a local clone of closure_library and closure_templat

[2017-03-15 21:14] paladox opened #130 "java.lang.NoClassDefFoundError: Could not initialize class com.google.template.soy.data.internalutils.NodeContentKinds"
Hi, trying to update gerrit to this new version results in error java.lang.NoClassDefFoundError: Could not initialize class com.google.template.soy.data.internalutils.NodeContentKinds

See https://gerrit-review.googlesource.com/#/c/99739/ please.

[2017-03-16 14:19] craph commented on #127
@mikesamuel
I don't have a clone of closure_library and closure_template on local.

Moreover, the link you provide return "not found" and point to this url : https://github.com/google/closure-templates/issues/closurebuilder.py

As mention in my previous comment, I think the reason why soyutils.js is missing is because of these commits :
[Deprecate soyutils.js and recommend the _usegoog version.](h

[2017-03-16 14:37] mikesamuel commented on #127
@craph , Sorry.   Fixed the link.  I'll learn to markdown one of these days.

[2017-03-16 14:38] mikesamuel commented on #129
Will do.

[2017-03-17 02:10] dpursehouse commented on #130
Full stack trace of the exception is:

[code]

The class `com.google.template.soy.data.internalutils.NodeContentKinds` exists in the soy jar file that we have on the classpath.  I suspect the actual problem is that it can't find some other class or resource that it needs.

FWIW we don't get the same problem when upgrading from `2016-08-09` to `2016-08-25`.

It's not possible to bisect the open sou

[2017-03-17 04:53] davido commented on #130
I think that `com.google.common.html.types` is missing:

[code]

[2017-03-17 05:17] dpursehouse commented on #130
Yep, that was the problem.  Thanks.

This issue can be closed, then.

[2017-03-17 08:23] paladox commented on #130
Thanks.

[2017-03-17 08:23] #130 closed

[2017-03-17 10:41] craph commented on #127
@mikesamuel , I am waiting your explanations on this issue #129 about how to use `_usegoog` version because `soyutils.js` is the deprecated one version as mention here :
[Deprecate soyutils.js and recommend the _usegoog version.](https://github.com/google/closure-templates/commit/c67c9de9d61861858f5e2bfd38bb0b4c3dc9bc6f)
and
[Remove the non-Closure version of Soyutils.](https://github.com/google/c

[2017-03-19 11:09] craph commented on #129
@mikesamuel , when this will be possible to know what is the right way to use the `use_goog.js` version through examples in the Github repo and documentation ?

In advance, many thanks.

[2017-03-23 07:26] craph commented on #128
@lukesandberg , @mikesamuel ,

Any news about this bloking issue ?

In advance many thanks

[2017-03-24 14:47] brunobasto commented on #112
Hey @sparhami, since this issue was created I noticed there is a new release out: https://github.com/google/closure-templates/tree/release-2017-02-01

Do you know if with this new version the IncDOM compiler will allow using variables for defining attribute names?

/cc @fernandosouza

[2017-03-25 01:57] sparhami commented on #112
I know that there is some work going on inside closure-templates to make the compilation to Incremental DOM more similar to the rest of the code base, which should enable it to do all the things regular closure-templates does, including variables for attribute names.

I don't know the current status, but @lukesandberg might have more info.

[2017-03-27 11:25] craph commented on #129
@mikesamuel : Any news about this ?
Many thanks.

[2017-03-27 11:26] craph commented on #128
@mikesamuel , @lukesandberg ,
Any news ?

[2017-03-27 11:38] craph commented on #127
@mikesamuel ,
I have tried to generate `soyutils.js` with python but I didn"t succeed.

Please could you give us the right way to use `_usegoog` version and document this in #129 .

My team and I are waiting about it because we have many constraints to use the latest version of closure-template with others library in our project.

Many thanks

[2017-03-31 11:57] craph commented on #129
@mikesamuel : Do you have any news about this ?

Many thanks.

[2017-03-31 11:57] craph commented on #128
@mikesamuel  , @lukesandberg  ,
Any news ?

Thanks.

[2017-03-31 15:39] mikesamuel commented on #129
I started pulling threads.  I can easily generate a single JS bundle containing soyutils_usegoog.js, soydata_converters.js, and all their dependencies.

[soy_runtime_onefile.js.gz](https://github.com/google/closure-templates/files/886181/soy_runtime_onefile.js.gz)

This works, but weighs in at slightly < 1MB because it pulls in a bunch of closure library files that it only needs one function from.

[2017-04-01 20:26] craph commented on #129
@mikesamuel , Thank you for the JS bundle. But I am not planning to use JSCompiler or other JS minifier.

So ...

I will be very happy if I could use the `_usegoog.js` file in JavaScript.

**After some investigation in the history of this GitHub repo, I think the reason why `soyutils.js` is missing is because of these two commits :**

1. [Deprecate soyutils.js and recommend the _usegoog version.](

[2017-04-01 21:20] craph commented on #127
@mikesamuel @lukesandberg ,

Please could you give us the right way to use `soyutils_usegoog.js` version and document this in #129 .

Which files of closure-library must be used to use closure-template in JavaScript ?

My team and I are waiting about it because we have many constraints to use the latest version of closure-template with others library in our project.

Many thanks

[2017-04-01 21:35] craph opened #132 "Documentations and examples are outdated about how to use closure-template in JavaScript"
Hi @mikesamuel , @lukesandberg and others ,

My team and I will be very happy if we could use the `soyutils_usegoog.js` file in JavaScript because we are facing some troubles as you can see here #127

**After some investigation in the history of this GitHub repo, I think the reason why `soyutils.js` is missing is because of these two commits :**

1. [Deprecate soyutils.js and recommend the _usegoo

[2017-04-03 17:39] mikesamuel commented on #129
Ok.  So it sounds like a JS bundle that includes all the goog.* dependencies required by soy.* namespace and the goog.* requires generated by SoyToJsCompiler would meet your needs.  Is that about right?

If so, I think I can do that.

[2017-04-03 19:22] craph commented on #129
Yes I think it's that **BUT**

In fact as mentionned in #127 In soyutils.js I cannot find this function :
`soy.asserts.assertType(...)`

And as you can see this two links related to older commit in this Github repo :
1. [Deprecate soyutils.js and recommend the _usegoog version.](https://github.com/google/closure-templates/commit/c67c9de9d61861858f5e2bfd38bb0b4c3dc9bc6f)

2. [Remove the non-Closure

[2017-04-03 19:43] mikesamuel commented on #129
Yes, soyutils.js no longer exists.

There used to be 2 JS files that we provided soyutils_usegoog.js and soyutils.js which was soyutils_usegoog.js with just enough closure to work.

We stopped providing that, and we do need to update documentation.

Even if you were to copy [soy.asserts](https://github.com/google/closure-templates/blob/master/javascript/soyutils_usegoog.js#L1939-L1947) into the la

[2017-04-03 21:56] eduardolundgren commented on #129
@mikesamuel Yes, that would be a huge help. If possible to provide those files eliminating all the closure library dependencies or at least enumerating all the symbols that the JS compiler generates would help the community maintain an optimized version. Thanks a lot!

[2017-04-04 07:27] rodzewich opened #133 "I cannot use library in strict mode in browser"
Could you fix code in places incompatibility with strict mode?

Dependent issue:
https://github.com/bendman/soy-loader/issues/6#issuecomment-291202374

[2017-04-04 15:07] lukesandberg commented on #128
this is fixed in the google internal version of closure templates and
should be fixed with the next repo sync

On Fri, Mar 31, 2017 at 4:57 AM craph <notifications@github.com> wrote:

[2017-04-04 17:49] mikesamuel commented on #129
I've done some internal plumbing so that we can maintain such a list of exports and provide a single JS file with all the closure stuff needed that still allows JSCompiler to eliminate most of the dead code, along with some testing trickiness so this doesn't turn into a maintenance headache.

I still need to figure out how to run our end-to-end tests with this as the JS runtime library.  I should

[2017-04-04 18:24] craph commented on #128
Oh thank you @lukesandberg
When this will be available a release version in Maven Repo ?

[2017-04-04 18:32] craph commented on #129
@mikesamuel It would be a pleasure to use closure-template in Javascript in the right way. 👍

So if it will be possible to update the documentation and examples in this Github repo on how to use the `soyutils_usegoog.js` file and provide those files it would be a huge help for the community 👍

I am waiting for that.

Thank you very much!

[2017-04-06 04:37] tntim96 commented on #129
Agree with the comment above.

The file `soyutils_usegoog.js` isn't a drop-in replacement for `soyutils.js` and is missing at least `var goog = goog || {};`, so documentation and examples on how this works would be great.

I've found [soy_usegoog_lib.js](https://github.com/google/closure-templates/blob/master/testdata/javascript/soy_usegoog_lib.js) does seem to replace `soyutils.js` as it has the

[2017-04-12 17:29] #128 closed

[2017-04-12 20:49] #120 closed

[2017-04-14 14:31] craph commented on #128
@fenghaolw @lukesandberg  @mikesamuel When this will be available in [MVN repository](http://mvnrepository.com/artifact/com.google.template/soy) ?

Thanks

[2017-04-24 19:11] craph commented on #129
@mikesamuel , any news about this subject ?

My team and I are waiting for that.

Thank you very much!

[2017-04-24 19:12] craph commented on #127
@mikesamuel @lukesandberg ,

Please could you give us the right way to use soyutils_usegoog.js version and document this in #129 .

Which files of closure-library must be used to use closure-template in JavaScript ?

My team and I are waiting about it because we have many constraints to use the latest version of closure-template with others library in our project.

Many thanks

[2017-04-24 19:13] craph commented on #128
@fenghaolw @lukesandberg @mikesamuel When this will be available in MVN repository ?

Thanks

[2017-04-24 21:57] fenghaolw commented on #128
Hi @craph I just released this to maven central.

[2017-04-26 01:01] fanqi opened #134 "java.io.FileNotFoundException grid.soy.js (No such file or directory)"
[code]

[2017-04-26 02:22] fanqi commented on #134
i mkdir /usr/local/lib/node_modules/electric-cli/node_modules/._electric@2.0.0-alpha.14@electric/temp，it work successfully。

Are there any other way?

[2017-05-02 03:49] tntim96 opened #135 "NPE on Xliff URL locale when upgrading from soy 2017-02-01 to 2017-04-23"
The following code ran fine in soy `2017-02-01`, but fails after upgrading to `2017-04-13`:

[code]
The resource is a file that exists, `file:/home/..somepath..//translations/form_element_translation_fr.xlf`, and the stack-trace is as follows:

[code]

The `localeString` is null, but it's not clear where this should be set and why it has changed.

[2017-05-02 16:19] lukesandberg commented on #135
the parser looks for a 'target-language' attribute on the <file> element in
the xliff

We can potentially change the parser to allow for this attribute to not be
present (as it was before), but it will prevent soy from inferring the
correct language directionality.

would you be willing to share the xliff file? (feel free to redact the
message contents if they are sensitive)

On Mon, May 1, 2017 a

[2017-05-02 23:24] tntim96 commented on #135
That's OK, we can add it in. I thought the target language might be inferred from the file name which ends in `fr`. It works OK after changing from:
[code]
...to...
[code]
...(i.e. adding in the `target-language="fr"`).

[2017-05-03 12:31] mikesamuel commented on #134
What flags are you passing to the idom compiler?

[2017-05-10 21:32] craph commented on #128
Hi @fenghaolw Thank you very much.

Just for curiosity, what is the process to release the github project to maven central ?

Many thanks.

[2017-05-10 21:35] craph commented on #129
Hi @mikesamuel , @lukesandberg

My Team and I are waiting for an explanation on how to use the `soyutils_usegoog.js` and our project is still in standby because of that.

So please could you have a look and tell us the correct way.

In advance, many thanks for your help.

Best regards

[2017-05-10 21:37] craph commented on #132
Hi @mikesamuel , @lukesandberg

My Team and I are waiting for an explanation on how to use the `soyutils_usegoog.js` and our project is still blocked because of that.

So please could you have a look and tell us the correct way.

In advance, many thanks for your help.

Best regards

[2017-05-10 21:39] craph commented on #127
Hi @mikesamuel , @lukesandberg

My Team and I are waiting for an explanation on how to use the `soyutils_usegoog.js` and our project is still blocked because of that.

So please could you have a look and tell us the correct way asap ?

I have wrote a new issue #132 to explain that javascript in this github repo and documentation on developer site are not up-to-date.

In advance, many thanks for yo

[2017-05-14 09:33] craph commented on #129
Up ?!

[2017-05-14 09:33] craph commented on #127
Up !?

[2017-05-14 11:41] craph commented on #132
Hi @mikesamuel , @lukesandberg

Any updates would be very appreciated.

Thanks!

[2017-05-18 19:03] craph commented on #127
Hi @lukesandberg, @mikesamuel
Any updates would be very appreciated.

Thank you very much!

[2017-05-18 19:03] craph commented on #132
Hi @lukesandberg, @mikesamuel
Any updates would be very appreciated.

Thank you very much!

[2017-05-18 19:03] craph commented on #129
Hi @lukesandberg, @mikesamuel
Any updates would be very appreciated.

Thank you very much!

[2017-05-21 11:04] craph commented on #132
Hi @lukesandberg, @mikesamuel, @fenghaolw,

Sorry for all my comments but can we have the visibility about this issue because my team and I and our projects are still blocked because the documentation and examples in this Github repo doesn't explain the right way on how to use closure template in Javascript with `soyutils_usegoog.js`.

Can you explain what is the Javascript files of "closure libra

[2017-05-21 11:04] craph commented on #129
Hi @lukesandberg, @mikesamuel, @fenghaolw,

Sorry for all my comments but can we have the visibility about this issue because my team and I and our projects are still blocked because the documentation and examples in this Github repo doesn't explain the right way on how to use closure template in Javascript with `soyutils_usegoog.js`.

Can you explain what is the Javascript files of "closure libra

[2017-05-21 11:04] craph commented on #127
Hi @lukesandberg, @mikesamuel, @fenghaolw,

Sorry for all my comments but can we have the visibility about this issue because my team and I and our projects are still blocked because the documentation and examples in this Github repo doesn't explain the right way on how to use closure template in Javascript with `soyutils_usegoog.js`.

Can you explain what is the Javascript files of "closure libra

[2017-06-07 20:31] jessrosenfield opened #137 "Argument to keys() function is not SoyMap"
I receive the error `com.google.template.soy.tofu.SoyTofuException: When evaluating "keys($foo)": While computing function "keys($foo)": Argument to keys() function is not SoyMap.`

When attempting to render the template:
[code]

With the following examples in Java:
[code]
and...
[code]

[2017-06-07 23:13] jessrosenfield commented on #137
Did not realize from documentation that map data must include field name.

[2017-06-07 23:13] #137 closed

[2017-06-12 19:33] craph commented on #129
Any news please  ?

Thx

[2017-06-12 19:33] craph commented on #132
Any news please  ?

Thx

[2017-06-12 19:36] craph commented on #127
Any news please  ?

Can you explain what is the Javascript files of "closure library" we must includes to be able to use soyutils_usegoog.js ?!

Thank you very much!

Best regards.

[2017-06-12 21:48] craph opened #138 "How to use closure template in Javascript ?"
Hello @mikesamuel , @lukesandberg , @google-admin  ,

Someone can explain how to use closure template in Javascript because the developer sites is wrong et all examples on this Github repo are wrong too!!

All examples are referencing the file soyutils.js but this file has been removed. You can see that here :
1. [Deprecate soyutils.js and recommend the _usegoog version.](https://github.com/google

[2017-06-13 22:57] #121 closed

[2017-06-18 13:38] craph commented on #129
@vrana , @Ubehebe , @mikesamuel ,

Could you help us about that and explain on how to use `soyutils_usegoog.js` ? and after that do what @mikesamuel mention :

Many thanks

Best regards

[2017-06-18 13:39] craph commented on #132
@vrana , @Ubehebe , @mikesamuel ,

Could you help us about that and explain on how to use `soyutils_usegoog.js` ? and after that do what @mikesamuel mention in #129  :

Many thanks

Best regards

[2017-06-18 13:42] craph commented on #138
@vrana , @Ubehebe , @mikesamuel ,

Could you help us about that and explain on how to use `soyutils_usegoog.js` ? and after that do what @mikesamuel mention in #129 :

Many thanks to all of us for the help you can provide me because my team and I are still blocked to update the maven version of closure template to the latest version on our ecommerce project.

Best regards

[2017-06-22 20:02] mikesamuel opened #140 "Add ref to bazel/rules_closure in docs"
https://github.com/bazelbuild/rules_closure

[2017-06-22 20:06] mikesamuel commented on #138
Does loading https://github.com/google/closure-templates/blob/master/javascript/soy_requirements_onefile.js before soyutils work for you?

[2017-06-26 23:30] #135 closed

[2017-06-26 23:42] tntim96 opened #141 "TRUSTED_RESOURCE_URI not working in 2017-06-22"
We used the following code:
[code]
...to get the following template to render `{$ij.base}` without the `about:invalid#zSoyz`
[code]
After upgrading however, we are getting the following after rendering the soy template:
[code]
Adding the `blessStringAsTrustedResourceUrlForLegacy` as shown below, the `about:invalid#zSoyz` doesn't help:
[code]

[2017-06-27 01:21] #141 closed

[2017-06-27 01:21] tntim96 commented on #141
Got this working - all OK

[2017-06-28 05:08] tntim96 opened #142 "Can't run Soy compiler via API without System.exit"
We used to be able to run `SoyToJsSrcCompiler.main(...)` to compile multiple source directories with different options, however, recent changes call `System.exit(status);`, so our program now exits without completing.

Is it possible to expose an entry point for an API. Perhaps make [int run(final String... args)](https://github.com/google/closure-templates/blob/master/java/src/com/google/template

[2017-06-28 05:15] tntim96 commented on #138
I tried this and got the following error:
[code]

...that line being:
[code]

[2017-06-28 11:39] tntim96 commented on #127
Hi @mikesamuel ,

I got the following when I ran your example:
[code]
Swapping `output` to `output_file` gave:
[code]

However, I did build a working JS file with the following:
[code]
...and in the resulting file set `goog.global.CLOSURE_NO_DEPS = true;`

I do have some questions though @mikesamuel :

1. Does this look right to you?
1. Do the script errors from your script make sense to you?
1. C

[2017-06-28 11:46] tntim96 commented on #129
How do we use `required_by_soy.js`? It seems we're still missing the basic name-space creation `var goog = goog || {};`. I did get that working as described [here](https://github.com/google/closure-templates/issues/127#issuecomment-311634900), but I'm not sure if it's the correct approach for a production release.

[2017-06-28 23:59] tntim96 commented on #129
I've built a working replacement for `soyutils.js` with the [closure-compiler](http://central.maven.org/maven2/com/google/javascript/closure-compiler/v20170521/closure-compiler-v20170521.jar) (see below) and with [closurebuilder.py](https://github.com/google/closure-library/blob/master/closure/bin/build/closurebuilder.py) (example in [this comment](https://github.com/google/closure-templates/issue

[2017-06-29 15:27] mikesamuel commented on #138
Sorry about that.  I fixed that issue and will push a new release.

I'm still trying to get integration tests running on that.  Mucking around with test suites that fail when there's missing bits of closure is tough though since a lot of our web test infrastructure uses closure.

[2017-08-09 22:53] protoEvangelion commented on #34
I'm on Ubuntu 17 and had the same issue.  Needed to add the comments as well.

[2017-08-09 23:37] lukesandberg commented on #34
you might want to upgrade to a more recent version.  This requirement has
been removed

On Wed, Aug 9, 2017 at 3:53 PM Ryan Garant <notifications@github.com> wrote:

[2017-08-09 23:39] lukesandberg commented on #142
use SoyFileSet.compileToJsSrcFiles or similar

On Tue, Jun 27, 2017 at 10:08 PM tntim96 <notifications@github.com> wrote:

[2017-08-10 04:00] tntim96 commented on #142
`SoyFileSet.compileToJsSrcFiles` is not public - cant that be changed?

[2017-08-10 17:03] lukesandberg commented on #142
Can you not use compileToJsSrc?

On Wed, Aug 9, 2017 at 9:00 PM tntim96 <notifications@github.com> wrote:

[2017-08-10 23:28] tntim96 commented on #142
I could but it's awkward as it returns a list of strings containing the source, it doesn't write to disk. We have already defined the output path (e.g. `target/template-js/{INPUT_DIRECTORY}{INPUT_FILE_NAME_NO_EXT}.js`) and use it elsewhere via the CLI and would like to re-use this via the API as close to the CLI interface as possible.

[2017-08-11 00:55] lukesandberg commented on #142
you could just invoke the compiler via the command line, right?  at worst
you can just fork()

On Thu, Aug 10, 2017 at 4:28 PM tntim96 <notifications@github.com> wrote:

[2017-08-11 01:16] tntim96 commented on #142
I want to run multiple compilations and then some tests in the same process. Starting a new CLI process is time consuming.

If I fork, the `System.exit` call will still terminate the JVM.

[2017-09-01 21:04] orischwartz opened #143 "SoyParseInfoGenerator assumes proto definitions without a java package are in "com.google.protos""
If a proto file doesn't explicitly declare a java package, parse info generator assumes it's in `com.google.protos`:

[`JavaQualifiedNames.java`](https://github.com/google/closure-templates/blob/6a6a54ff55e1ab6e09dd24703825d5971f450eaa/java/src/com/google/template/soy/types/proto/JavaQualifiedNames.java#L185)

[code]

I'm guessing this is an internal convention? Any reason why it doesn't follow th

[2017-09-02 14:18] lukesandberg commented on #143
That is the default behavior at google, I didn't realize it was different
publicly. Thanks for letting me know we should be able to put a fix
together.
On Fri, Sep 1, 2017 at 5:04 PM Ori Schwartz <notifications@github.com>
wrote:

[2017-09-06 19:11] paladox opened #144 "Support calling functions in the template"
Hi could functions be supported in the template please?

Velocity supports this and this part is making it a bit tricky for me to convert a gerrit plugin to use soy (closure template) as you carn't call a function within the template ie something like

{$its.formatLink($changeUrl)}

https://gerrit-review.googlesource.com/#/c/plugins/its-base/+/108215/

[2017-09-16 16:18] lukesandberg commented on #144
soy supports calling functions, it just doesn't have a concept of methods.

so you could write something like {formatLink($its, $changeUrl)}

there are a number of builtin functions:
https://developers.google.com/closure/templates/docs/functions

you can also add custom ones, there is some basic documentation here
https://developers.google.com/closure/templates/docs/plugins

[2017-09-16 16:18] #144 closed

[2017-09-16 16:22] lukesandberg commented on #142
sorry, when i said 'fork' i meant 'invoke the compiler as a sub process'

the only api we support that does what you want is the command line api.  you should be able to implement what you want using the SoyfileSetApi (though you will have to do the logic to calculate file names and write files yourself), or you could invoke the compiler as a sub process.  Invoking as a subprocess shouldn't be ver

[2017-09-16 16:22] #142 closed

[2017-09-16 18:11] paladox commented on #144
ah, @lukesandberg hi, how could i do {formatLink($its, $changeUrl)} please?

[2017-09-17 19:22] paladox commented on #144
I wonder how i do that in https://gerrit-review.googlesource.com/#/c/plugins/its-base/+/108215/35/src/main/java/com/googlesource/gerrit/plugins/its/base/workflow/action/AddSoyComment.java ?

[2017-09-19 22:13] #143 closed

[2017-09-21 09:51] AlesJiranek opened #145 "Npm package version"
Hello, is it possible to update package published on npm to latest released version?

Latest relese here is release-2017-08-08 but in npm, there is 20150410.0.0

[2017-11-20 17:08] 8Ozymandias commented on #24
I am getting the same thing in Android Studio. I am trying to set up Google Cloud Endpoints using the instructions provided on the Google Cloud Endpoints repository but when I follow the steps and rebuild the project I always get that error along with a few others.  Could I get some help please?

![image](https://user-images.githubusercontent.com/33201214/33031177-7afb94de-cdeb-11e7-8d36-8cbae46e6

[2017-11-23 22:23] matuzalemsteles commented on #112
Any updates on that?

[2017-11-29 16:12] tbroyer opened #146 "Any intent to opensource the XTB message plugin?"
It looks like all (Google) tools are converging towards using XMB/XTB as the translation format of choice (Angular supports XLIFF 1.2, 2.0 and XMB/XTB; Closure Compiler only accepts XTB; Chromium [apparently uses](https://www.chromium.org/developers/design-documents/ui-localization) XTB too), and there are several hints in Soy code that you have an XTB message plugin. Do you have any intent to eve

[2017-11-29 19:21] lukesandberg commented on #146
i was under the impression that XTB/XMB were a google private format which
is why we haven't open sourced it

On Wed, Nov 29, 2017 at 8:12 AM Thomas Broyer <notifications@github.com>
wrote:

[2017-11-29 19:43] tbroyer commented on #146
It was opensourced in jscomp 6 years ago: https://github.com/google/closure-compiler/commit/6e85a91185aa7899955b7e05a0152b93b8da5a5d
This is actually a public format used by the Unicode Consortium, not just Google.

[2018-01-09 15:23] orischwartz opened #147 "The scope of error_prone_annotations should not be "provided""
The comment on this dependency is incorrect:

https://github.com/google/closure-templates/blob/4395d39b69af23126b5a19d0d1593bc1a947c0b0/pom.xml#L187-L193

The retention on the `@Immutable` annotation is [`RUNTIME`](https://github.com/google/error-prone/blob/083720dc364dcad7fd71c288e342ed66ae025df6/annotations/src/main/java/com/google/errorprone/annotations/Immutable.java#L75)

This can lead to the

[2018-01-15 05:14] btow commented on #24
Exactly the same problem in Android Studio 3.0.1 (Build #AI-171.4443003, built on November 9, 2017;
JRE: 1.8.0_152-release-915-b01 amd64; JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o; Windows 10 10.0).

`Executing tasks: [clean, :vksdk_library:assembleDebug, :ui:assembleDebug, :app:assembleDebug]

...
warning: [options] bootstrap class path not set in conjunction with -source 1.7
Note: C:\User

[2018-01-16 20:10] brunobasto commented on #22
@SLaks @lukesandberg Any updates on this?

[2018-01-19 05:25] pcj opened #148 "SoyProtoTypeProvider NPE"
Stumbling towards using a `descriptor.proto` as a dependency for a proto that imports `google.protobuf.FileDescriptorSet`.  Anyhoo, appears that [SoyProtoTypeProvider.java#L157](https://github.com/google/closure-templates/blob/b3cb7780c8e5377c662cff758bc86ce9663c9c67/java/src/com/google/template/soy/types/proto/SoyProtoTypeProvider.java#L157) can return a null value.

[code]

[code]

[2018-01-20 01:26] pcj commented on #148
Here's what I think the problem was:

When compiling the `descriptor.proto`, the relative filepath that got compiled into the FileDescriptorSet (via `--descriptor_set_out`)  was `src/google/protobuf/descriptor.proto`.  During the SoyProtoTypeProvider builder phase, it was looking for `google/protobuf/descriptor.proto` and the key lookup failed, causing the null pointer exception.

By changing the

[2018-01-20 01:26] #148 closed

[2018-01-23 03:27] lukesandberg commented on #148
Thanks, there isn't much we can do about that from the soy side.  But i can provide a better error message :)

[2018-02-01 00:12] tntim96 opened #150 "No tag or release download for 2018-01-03"
Hi,

I noticed version [2018-01-03](https://mvnrepository.com/artifact/com.google.template/soy/2018-01-03) was released, but there's no [release download](https://github.com/google/closure-templates/releases) or [git tag](https://github.com/google/closure-templates/tags).

[2018-02-20 22:11] sebastianharko opened #151 "Optional parameters not working"
I have:
[code]

This seems to be fairly straightforward.
However, this template does not work and I get "Param [..] unused in template body." exceptions. I'm using this from Java, btw.  However, I declared all fields to be optional (by using @param?), so I shouldn't see these exceptions.

[2018-02-22 22:46] paladox opened #152 "Using {$subject|escapeUri} is double escaping thus breaking things"
Hi, when using {$subject|escapeUri} it seems to break when i use strings ""

It is turning it into

	[test@master] Revert%20%22test%22

when i use %22 it also breaks too.

is there a way i can fix this in .soy template or does this require a core fix please?

[2018-02-24 17:33] lukesandberg commented on #152
Can you provide more context? Like the entire template? What autoescaping
mode you are using? What release you are using?
On Thu, Feb 22, 2018 at 4:46 PM paladox <notifications@github.com> wrote:

[2018-02-24 17:34] lukesandberg commented on #151
Optional means it is optional for a caller to pass them. You still need to
use all the parameters you declare in the template.
On Tue, Feb 20, 2018 at 4:11 PM Sebastian Harko <notifications@github.com>
wrote:

[2018-02-24 20:07] paladox commented on #152
I am using

``
/**
 * Copyright (C) 2017 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under th

[2018-03-08 11:07] wandjini opened #153 ":private:apps:commerce:commerce-cart-taglib:transpileJS FAILED"
java.io.FileNotFoundException: /tmp/metal-tools-soy/add_to_cart/AddToCart.soy.js (Permission denied)
        at java.io.FileOutputStream.open0(Native Method)
        at java.io.FileOutputStream.open(FileOutputStream.java:270)
        at java.io.FileOutputStream.<init>(FileOutputStream.java:213)
        at java.io.FileOutputStream.<init>(FileOutputStream.java:162)
        at com.google.common.io.Fi

[2018-03-15 17:05] emspishak commented on #150
Whoops, sorry about that. We've just added a release/tag: https://github.com/google/closure-templates/releases/tag/release-2018-01-03

[2018-03-15 17:05] #150 closed

[2018-03-15 17:06] #151 closed

[2018-03-15 17:08] emspishak commented on #153
Hello, unfortunately I don't have enough details to understand your issue. Could you please post detailed reproduction steps so that I can reproduce your issue?

[2018-03-15 23:05] ktiedt opened #154 "Desperate attempt at yet another issue relating to documentation, download links and javascript"
As #132 and  #68 explain (and have been dutifully ignored) the README links to a "latest" Javascript download from 2014...

There have also been #129 and #138 ... Where documentation for how to use the Javascript compiler were updated but... not with clear instructions on what changes if any were needed to keep your builds working...

Why has it been so impossible to get responses despite active c

[2018-03-22 03:12] teppeis commented on #69
@Ubehebe @lukesandberg @vrana @emspishak
Any updates?
`v2018-03-14` was released and it includes hundreds of commits, but I got no release notes, nor `BREAKING_CHANGES.md`.
It's too hard for users outside Google.

Also #97 sync with closure-compiler and closure-library release is better.
CC @ChadKillingsworth

[2018-03-26 15:17] lukesandberg commented on #69
@teppeis I agree with you, but unfortunately the team that funds closure templates development at google is understaffed and as such we cannot really support open source users (supporting internal users is our mandate)

I have made an attempt to document this here:
https://github.com/google/closure-templates#support-and-project-status

[2018-03-26 15:34] ChadKillingsworth commented on #69
@lukesandberg If you have any external users that you trust, you can allow them rights to publish the NPM version. I'd be happy to give instructions on how that's done.

I think all they really want is for the release to be updated.

[2018-03-30 09:56] teppeis commented on #69
@lukesandberg @ChadKillingsworth
Thanks. This is OSS, I will not make excessive requests.
But all want is please publish release notes and breaking changes if you have for google internal.
Also updating [npm package](https://www.npmjs.com/package/google-closure-templates) would be needed if [closure-webpack-plugin](https://github.com/webpack-contrib/closure-webpack-plugin) supports closure-templat

[2018-04-02 14:18] marceloavf opened #156 "Pass function to deltemplate"
Hi,
I'm trying to create a function and pass it to a deltemplate but I can't figure out how, I can't change the component since it's an internal package.

[code]

console error:

[code]

[2018-04-15 14:40] pcj opened #160 "{switch} with a protobuf oneof field?"
A proto message definition with a oneof field:

[code]

Generates a method:

[code]

So I was expecting I might be able to:

[code]

But that did not seem to work.  Any pointers?  Are oneofs supported?

[code]

Same outcome for `{switch $foo.content}`...

[2018-04-17 00:07] lukesandberg commented on #160
There is no way to access the case field currently.  you can access the oneof fields though, so the best option is to test each field for nullness using a set of if conditions.

We do want to add this feature but have not had the resources to do so.

[2018-04-17 00:10] lukesandberg commented on #112
We do plan on fixing this particular issue as part of our current efforts on incremental dom.  i suspect that this will be resolved in the next few months

[2018-04-17 14:26] pcj commented on #160
OK thanks.  I didn't think of the workaround, that should work fine.

[2018-04-17 14:26] #160 closed

[2018-04-19 16:11] #22 closed

[2018-05-01 16:29] dbarnett opened #161 "Shouldn't allow using bidiSpanWrap in content kind "text""
I found when I accidentally used the `bidiSpanWrap` directive in a template block with `kind="text"` it would look fine in simple cases with same text directionality but show literal `<span dir="ltr"></span>`s in the content in other cases. Since this directive is fundamentally incompatible with `kind="text"`, is it possible for the compiler to detect this incompatible usage and give an error?

[2018-07-03 04:42] nicks opened #163 "documentation: update foreach loop docs"
AFAICT using `foreach` is an error now? But the documentation still uses `foreach`?

https://developers.google.com/closure/templates/docs/commands#foreach

[2018-07-03 17:10] lukesandberg commented on #163
Sorry our doc sync is broken, we will eventually just sync the markdown
docs to github but haven’t had the time.
On Mon, Jul 2, 2018 at 9:42 PM Nick Santos <notifications@github.com> wrote:

[2018-07-08 04:49] nicks opened #164 "dependencies: upgrade com.google.common.html.types to a newer version"
Could you upgrade com.google.common.html.types to 1.0.6 or greater? Right now, closure-templates is pinned to 1.0.4.

https://github.com/google/closure-templates/blob/master/pom.xml#L163

Version 1.0.4 depends on all of GWT, which is deeply unfortunate, see:
https://github.com/google/safe-html-types/pull/5

[2018-07-09 17:22] #164 closed

[2018-07-20 10:54] albertsteckermeier opened #165 "soy.map is undefined which breaks type map<K,V>"
When accessing a map with the @param type map<string,?> I get the following error.
``
Uncaught TypeError: Cannot read property '$$maybeCoerceKeyToString' of undefined
``
The generated line of code looks like this.
``
a.get(soy.map.$$maybeCoerceKeyToString("some-key-of-map")),
``
Looks like soy.map is undefined for some reason.

[2018-07-25 19:57] emspishak commented on #165
soy.map.$$maybeCoerceKeyToString is defined in https://github.com/google/closure-templates/blob/master/javascript/soyutils_map.js so you'll need to make sure that file is included in whatever JS build/run setup you have.

[2018-07-25 20:21] emspishak commented on #140
This was done in https://github.com/google/closure-templates/commit/1122e96374313c86cdd044ffe1a6eff606cafa0b

[2018-07-25 20:21] #140 closed

[2018-07-25 20:22] #134 closed

[2018-07-25 20:23] #152 closed

[2018-07-25 20:23] #153 closed

[2018-07-26 08:53] albertsteckermeier commented on #165
Thanks for the reply. Indeed I forgot to add this file in my build after upgrading the Soy compiler. The ticket can be closed.

[2018-07-26 15:04] #165 closed

[2018-10-02 20:04] klipin opened #166 "INTERNAL SOY ERROR deploying Emporio"
Hi,
trying to deploy Liferay Commerce (Emporio) with command:
D:\Program Files\lfry-ws\com-liferay-commerce-7.1.x>.\gradlew.bat deploy -Dbuild.profile=portal

in configuration:
* Lfry Workspace +
* bundle 7.1 +
* Emporio zip from 01.10.2018 +
* Windows 7

I get the the following error:

":apps:commerce:commerce-cart-taglib:transpileJS
Running 'build'...
Compiling soy
Error in plugin 'metal-tools-s

[2018-10-21 19:58] jimbojetlag opened #167 "Documentations on developers.google.com return 404"
I know Closure Template and Closure Library are not super popular outside of Google, but the way Google handles them I cannot fault the community.

All sidebar links under https://developers.google.com/closure/templates/  return 404, example:

https://developers.google.com/closure/templates/concepts/templates

[2018-11-02 01:56] jimbojetlag opened #169 "The Closure Templates to Incremental Dom compiler (SoyToIncrementalDomSrcCompiler) was "Unopensourced"!"
It seems like over 6 months ago Google "unopensourced" (is there really such a verb?) SoyToIncrementalDomSrcCompiler here https://github.com/google/closure-templates/commit/2081efa0cd00c8756fbbcd152ddca860e29ef386:

There is no sign of this in [closure-template](https://github.com/google/closure-templates) nor [incremental-dom](https://github.com/google/incremental-dom) documentations.

Would the

[2018-11-05 03:52] pcj opened #170 "`mapKeys()` function and missing `soy/map.js`"
Attempting to do `{for $k in mapKeys($pkg.ruleMap) }` where ruleMap is a proto map-field like  `map<string,Rule>`.

Observing:

[code]

Perhaps there is a closure library `soy/map.js` that has not been open-sourced?  Where can one find this file?

[2018-11-05 17:16] Yannic commented on #170
Looking at the error message, I assume this happened while using `rules_closure`, right?
If so, this is something we would need to fix there. `soy.map` is defined in `<closure-templates>/javascript/soyutils_map.js`, which is not included in the dependencies of `closure_js_template`.

[2018-11-05 22:20] pcj commented on #170
Yes, rules_closure.  Thanks for the info, that should fix it!

[2018-11-05 22:20] #170 closed

[2018-11-08 15:39] iteriani commented on #169
The biggest issue on our end was that we had internal references to code generated by tsickle (TS -> Closure). At the same time, we also had a internal rewrite of Incremental DOM itself to TypeScreipt. In general we have no idea how to manage this in open source. Do we just release the .closure.js files?

[2018-11-08 16:07] jimbojetlag commented on #169
Thank you for the update @iteriani!

Is this the Typescript code for Closure Template?

I did not know that Incremental DOM itself is going through a rewrite, I thought it was only the compiler. Would that make https://github.com/google/incremental-dom deprecated?

I'd say open sourcing .closure.js files would be very welcome, if there is no way to open source the Typescript source itself. May I a

[2018-11-08 16:10] iteriani commented on #169
1) The current situation is that we have TypeScript files checked in that we transpile to Closure JS files using tsickle and use from the JS code generated from Soy.

2) The TypeScript migration is already done. The source in that repo is up to date with google3.

3) We can just open source the TypeScript source itself, but we have no idea how people are supposed to use them. Inside google3 we hav

[2018-11-08 16:51] jimbojetlag commented on #169
So the Typescript code is not open sourced because of the internal references in the build tools. I assume this is related to [this commit](https://github.com/bazelbuild/rules_closure/commit/9cd91f3e2a4c25fc0d2dec0b90690774ea270387) of https://github.com/bazelbuild/rules_closure.

If you could open source the Typescript source, and the corresponding .closure.js files, the open source community wou

[2018-11-08 18:09] jimbojetlag commented on #169
That sounds like a good idea. If that namespace is supposed to be project specific, then it should be a parameter of the build system.

[2018-12-10 07:46] LouisStAmour commented on #169
As an outsider who's been watching a lot of BazelCon videos, I'd like to chime in here with my +1.

Bazel is an example of Google leading the way on open sourcing their internal build tools -- they're actively trying to support external uses and even new alpha Google Cloud services have been announced (for remote builds).

From there, well, there are differences between Bazel and Blaze, so it's po

[2019-01-11 17:51] Malvoz commented on #167
Also https://developers.google.com/closure/templates/why

[2019-01-25 06:15] pcj commented on #170
Leaving an additional note to self. Not sure this is the easiest way, but it compiles:

[code]

[2019-02-01 13:51] andy2018w commented on #167
2019 now - still not fixed..

[2019-02-01 16:52] iteriani commented on #169
At a high level we're actually lacking the basics here.

We have no idea how to build an application using the Soy Java compiler, the TypeScript compiler, tsickle + clutz, even in a bazel environment. Inside google3, we have proper build rule support and so it's very easy to wire these things together. We have no experience outside.

[2019-02-02 20:13] jimbojetlag commented on #167
Google is a _very_ different company to what it used to be.

[2019-02-04 16:25] pcj opened #171 "New Release"
There seem to be quite a few differences between master and the latest release from 2018-03-14.  Can someone cut a new release?

[2019-02-04 19:31] pcj opened #172 "Build with bazel"
Would be nice if this repository supported a bazel build natively.

For my future self and for others, here's how I've been able to build this repo:

[code]

And then using this for building a custom function library:

[code]

[2019-02-16 18:26] sgammon opened #173 "Broken docs links"
In production, there are some broken links on the Closure Templates main developer site.
If you go to the dev guide, for example, here:
[https://developers.google.com/closure/templates/dev](https://developers.google.com/closure/templates/dev)

And then click on any subpage, you currently get a 404. There are a ton of 404s on this site, and it contains all the useful docs. Can we get some help?

[2019-02-17 03:29] teppeis commented on #173
related: https://github.com/google/closure-templates/issues/167

[2019-02-26 04:01] skaematik opened #174 "An illegal reflective access operation has occurred"
Hi,

I'm trying to run the HelloWorld example.

[code]

simple.soy:
[code]

But I get
[code]

[2019-02-26 22:33] b1lly commented on #30
bump?

[2019-02-26 22:42] hitsthings commented on #30
FYI, I recently added a modularize option to atlassian-soy-loader. So if you compile with webpack, you can give that package a try. It assumes the Soy namespace in camelCase maps to a module name in kebab-case (but you can override this)

[2019-02-27 00:11] iteriani commented on #171
I am currently moving out all the development we've done in google3, but it's quite a lot of stuff. Hold on tight :)

[2019-03-06 00:50] iteriani commented on #169
Update to this:

We're going to update the github repo to the latest version inside google3 and then put out what we have on github (either TS or tsickle output). After that I'm not really sure what we'd do from then on.

[2019-03-07 15:52] iteriani commented on #169
I've exported everything ~ we have. I still don't know how to make the tsickle/clutz knobs work, but this should close this bug.

[2019-03-07 15:52] #169 closed

[2019-03-07 15:59] iteriani commented on #108
This should work now.

[2019-03-07 15:59] #108 closed

[2019-03-07 17:42] jimbojetlag commented on #169
Thank you @iteriani.

Does this need a new issue to track? Anyone from Google that can help with this?

[2019-03-08 06:48] iteriani commented on #169
Feel free to open an issue. I'm still working on releasing to maven and npm (and docs)

[2019-03-09 00:08] iteriani commented on #171
I think I pushed the compiler to maven (this is my first time). Let me know if it hasn't happened.

[2019-03-09 00:08] #171 closed

[2019-03-11 13:59] teppeis commented on #171
@iteriani It isn't available in maven repo.
https://repo1.maven.org/maven2/com/google/template/soy/

[2019-03-11 19:01] iteriani commented on #171
OK it should be there now.

[2019-03-11 19:54] iteriani commented on #167
fwiw, we're moving the documentation to Github so that it syncs with our pushes.

[2019-03-11 23:33] teppeis commented on #171
@iteriani Thank you! But 2019-03-07 and 2019-03-08 were removed...

[2019-03-11 23:36] iteriani commented on #171
My apologies :( I'm not at all familiar with Maven. Is that an issue? They are mostly the same binary

[2019-03-11 23:43] teppeis commented on #171
@iteriani `2019-03-07` is important for me, because a big change "Disallow doc-comment @param declaration."  (https://github.com/google/closure-templates/commit/83bae36bdd341df04a3955daf4437744b7ee5f41) happens after that.
I don't know other people want it, but I'm happy if I could get it from maven.

[2019-03-11 23:57] iteriani commented on #171
Let me try this.

[2019-03-12 00:35] iteriani commented on #171
OK 03/07/2019 is on maven.

[2019-03-12 01:50] iteriani commented on #169
Our next release puts Incremental DOM + related libraries into

https://github.com/google/closure-templates/blob/master/javascript/soy_requirements_onefile.js

This isn't really that great of a solution, but it should work.

[2019-03-12 02:00] teppeis commented on #171
thank you!!!

[2019-03-12 02:07] iteriani commented on #173
It's not too great right now, but we released some documentation on github. We'll remove the links on developers.google.com soon.

[2019-03-12 02:08] iteriani commented on #166
We released a new Incremental DOM Src compiler, so this should be checked again if it works.

[2019-03-12 02:08] #166 closed

[2019-03-12 02:09] #163 closed

[2019-03-12 02:09] iteriani commented on #163
This should be fixed with the github docs

[2019-03-12 02:11] iteriani commented on #112
A little bit late, but this works now.

[2019-03-12 02:11] #112 closed

[2019-03-12 02:13] #1 closed

[2019-03-12 02:13] #4 closed

[2019-03-12 02:14] #8 closed

[2019-03-12 02:14] #11 closed, assigned to nobody

[2019-03-12 02:14] #15 closed

[2019-03-12 02:20] iteriani commented on #62
We just released a new version. I'll try to keep it updated weekly.

[2019-03-12 02:20] #62 closed

[2019-03-12 02:20] iteriani commented on #50
I think this got fixed.

[2019-03-12 02:20] #50 closed

[2019-03-12 02:21] iteriani commented on #80
iirc, app engine works with java 8 now?

[2019-03-12 02:21] #80 closed

[2019-03-12 02:22] #173 closed

[2019-03-12 03:29] jimbojetlag commented on #169
Thank you @iteriani for your efforts. When should we expect the next maven release?

[2019-03-12 03:33] iteriani commented on #169
It should be or already is out.

On Mon, Mar 11, 2019, 8:29 PM jimbojetlag <notifications@github.com> wrote:

[2019-03-12 05:38] iteriani commented on #69
Reopening this since I'm now the next maintainer; Anyone know how to update npm packages? :)

[2019-03-12 05:55] iteriani commented on #174
Does this still happen with the new maven release?

[2019-03-12 05:56] #66 closed

[2019-03-12 05:57] iteriani commented on #37
Closing for now.  Please reopen if you really need this.

[2019-03-12 05:57] #37 closed

[2019-03-12 05:58] iteriani commented on #31
It's likely that we'll move to using ES6 modules or TypeScript rather than commonjs.

[2019-03-12 05:58] #31 closed

[2019-03-12 06:00] iteriani commented on #45
We've moved the docs to github.

[2019-03-12 06:00] #45 closed

[2019-03-12 06:02] iteriani commented on #56
This has been released.

[2019-03-12 06:02] #56 closed

[2019-03-12 06:03] iteriani commented on #124
I _think_ this has been released (afaik)

[2019-03-12 06:03] #124 closed

[2019-03-12 09:20] teppeis commented on #69
related: https://github.com/google/closure-templates/issues/145

[2019-03-12 15:49] jplaisted commented on #69
@ChadKillingsworth may know how to update these.

[2019-03-12 16:01] ChadKillingsworth commented on #69
I do. I am emailing off thread to assist in getting this set up.

[2019-03-20 00:23] hundt opened #175 "JS Template Literal interpolations with embedded braces are parsed wrong"
When inside a JS Template Literal interpolation, e.g. between the braces in `` `${val}` ``, RawContextUpdater considers any "}" character to indicate an end to the interpolation and a return to the Template Literal context:

https://github.com/google/closure-templates/blob/8f54ab18f359707b3236ea7ab4265dcfc7e0b68e/java/src/com/google/template/soy/parsepasses/contextautoesc/RawTextContextUpdater.jav

[2019-04-02 23:19] banguit commented on #69
Hello,

Any updates regarding npm package releases? Looks like latest npm package is incomplete (broken?) and contains only 3 following files:
- index.js
- package.json
- README.md

[2019-04-02 23:23] iteriani commented on #69
I tried to get this set up and it's still a bit confusing for me.

[2019-05-13 14:23] kira510 opened #176 "npm does not download the jar files for closure templates!"
Hello,

I installed the closure templates using,
_npm install google-closure-templates@latest_

I get this error when i try to build using the closure compiler,
Missing provide for soy in app/templates/field.soy

So i checked the google-closure-templates folder in node-modules and found that there was no soyutils_usegoog.js like we used to have with old versions.  I just have an index.js file refe

[2019-05-15 13:49] dpursehouse opened #177 "SoyTofu deprecation notice refers to non-public migration guide"
The `SoyTofu` class is deprecated and the `@deprecated` tag in its javadoc says:

[code]

`go/af-soy-migration` is an internal Google link and is not visible publicly.

Please replace this with a public link, or include the migration guide in this git repository.

[2019-06-20 08:18] banguit commented on #69
Any updates on this?

[2019-06-29 14:12] robfig commented on #167
@iteriani Looks like the documentation site has disappeared again. Even if you want to maintain the source of truth in Github, perhaps you can leave up an Overview page on the main Google site? That is exactly what Closure Compiler does. Currently, the Closure Tools page makes it look like Templates are not a thing -- https://developers.google.com/closure/ has 4 blocks for Compiler, Stylesheets, L

[2019-06-29 15:56] iteriani commented on #177
It is included in the migration guide. See g3doc -> dev -> soysauce_migration.

[2019-06-29 15:56] #177 closed

[2019-06-29 15:57] iteriani commented on #176
Sorry I am still learning how to make this work. If you have any ideas how to release jar files to npm, that'd be appreciated.

[2019-06-29 15:57] #176 closed

[2019-06-29 15:58] iteriani commented on #172
Update: I am trying to figure this out. I am starting with the Incremental DOM repository(https://github.com/google/incremental-dom) and working towards this.

[2019-06-29 15:58] #172 closed

[2019-06-29 16:09] iteriani commented on #167
I'll fix the link on developers.google.com if that's the only issue.

My apologies for the abrupt changes to release. It's mostly due to inexperience as ownership of the Closure templates repository has been transferred to me recently and I am trying to figure out how to make the sync between google and github maintainable.

I can give an update on some of status relating to Soy.

On the client-si

[2019-06-29 16:10] iteriani commented on #156
I don't think this is related to CLosure templates.

[2019-06-29 16:10] #156 closed

[2019-06-30 00:46] dpursehouse commented on #177
Please provide a link.  As far as I can see there is only a "todo.md" under the g3doc path: https://github.com/google/closure-templates/blob/master/g3doc/todo.md

There is a `http://doc/...` link in there, but it also seems to be a Google internal link.

[2019-07-01 18:11] emspishak commented on #177
Here's a link: https://github.com/google/closure-templates/blob/master/documentation/dev/soysauce-migration.md

[2019-07-04 00:03] dpursehouse commented on #177
Thanks @emspishak

Would it be possible to replace the `go/af-soy-migration` in the source code with that link?

[2019-07-10 09:50] QiAnXinCodeSafe opened #178 "Xml external entity injection"
![图片](https://user-images.githubusercontent.com/39950310/60959130-3e4a5400-a33a-11e9-9178-0f7c7f3281d6.png)
The xml external entity is not disabled when parsing the xml string. When the "xliffContent" is controlled by the attacker, a malicious xml string may be constructed for the xxe attack.

[2019-07-10 22:06] dongzi-deng commented on #132
May I ask is this issue related to `Hello World Using JavaScript examples` that I found absent in Java example?[https://github.com/google/closure-templates/blob/master/documentation/codelabs/helloworlds/helloworld_java.md](url)

[2019-07-14 16:57] lukesandberg commented on #178
We currently expect xliff content to be trusted. Disabling external
entities is probably a good idea but I don’t think this should be
considered an attack vector

On Wed, Jul 10, 2019 at 2:50 AM 奇安信CodeSafe <notifications@github.com>
wrote:

[2019-07-20 17:34] lukesandberg commented on #178
I landed a fix for this and it should be released with the next push

[2019-08-19 14:36] Yannic opened #183 "Error prone warnings in com.google.template.soy.base.internal.Identifier"
When building `closure-templates` with enabled errorprone checks (2.3.1), I get the following error in `com.google.template.soy.base.internal.Identifier`:

[code]

https://github.com/closure-tools/closure-templates/blob/7acea66c65ee0d7b4ceab2d18247cf8d8f15a437/java/src/com/google/template/soy/base/internal/BUILD.bazel#L23

/cc @robfig @sgammon

[2019-08-19 14:40] Yannic opened #184 "[feature request] Infer Java package from soy namespace in SoyParseInfoGenerator"
It would be great if `SoyParseInfoGenerator` had an option to infer the Java package from the soy namespace of the file.

See https://github.com/closure-tools/closure-templates/commit/7acea66c65ee0d7b4ceab2d18247cf8d8f15a437 for a prototype.

/cc @robfig @sgammon

[2019-08-19 15:31] iteriani commented on #184
Internally we infer the java namespace from the file path and that comes from our bzl rule. Is there a reason to infer from soy namespace?

I think we have long term plans (hopes and dreams) to no longer require soy namespaces and allow users to import using file import ie

import {foo} from '../templates/bar.soy'

[2019-08-19 15:35] iteriani commented on #183
Is this a bug in autovalue or is there a knob we can configure to generate this code?

[2019-08-19 15:45] Yannic commented on #183
I'm not sure if it's a false positive or an actual bug in autovalue or soy. Someone more familiar with autovalue will have to decide that. What I do know is that you can add `@AutoValue.CopyAnnotations` and `@SuppressWarnings("Immutable")` to suppress just this one error: https://errorprone.info/bugpattern/Immutable#suppression

[2019-08-19 15:59] Yannic commented on #184
There is similar functionality to infer the Java package from the file path in [rules_closure](https://github.com/bazelbuild/rules_closure/blob/b2a6fb762a2a655d9970d88a9218b7a1cf098ffa/closure/templates/closure_java_template_library.bzl#L192), but it's very opinionated about the project layout, and I've found myself manually specifying the Java package most of the time.

If there is a better imple

[2019-08-22 06:30] #178 closed

[2019-08-24 18:32] Yannic commented on #183
I had a look at this again, and it seems like the cause for this error is that `type()` is lazily computed by annotating it as `@Memoized`. Per https://errorprone.info/bugpattern/Immutable, the fix is to add suppressions to the class.

Should I send a PR for this, or do you prefer fixing it yourself?

[2019-08-24 18:39] sgammon commented on #183
@Yannic, @iteriani has been pretty quick to respond to PRs lately. happy to file one too :)

[2019-08-24 18:54] Yannic commented on #183
@sgammon PRs need to be imported into Google, tested, submitted, and then pushed out. It's a simple 2 line change, so I'm not sure if it's worth the extra bit of effort if I submit the PR vs. submitting internally. Happy to do so if @iteriani wants me to.

[2019-08-24 19:39] iteriani commented on #183
If you can submit it internally, just send me a CL. Otherwise, I end up
copy pasting PRs into google3 manually

On Sat, Aug 24, 2019, 11:54 AM Yannic <notifications@github.com> wrote:

[2019-08-24 20:06] Yannic commented on #183
I'm not a Googler. I'll send a PR for copy&pasting.

[2019-08-29 17:19] Yannic commented on #183
Fixed by 4f7808e7dfeed96b11d51d1534f4b13351b484d3

[2019-08-29 17:19] #183 closed

[2019-09-02 17:44] sgammon opened #188 "Can we get a release?"
Sorry to file an issue for this, but it would be sweet if we could get a release cut of Soy.

Upstream, I'm working on integrating `SoySauce`/`SoyTofu` into Micronaut (see micronaut-projects/micronaut-views#13, micronaut-projects/micronaut-views#16). However, the integration needs patches here in Soy, specifically, #185 and #186, which add the `hasTemplate` method.

In any case, those patches are

[2019-09-02 18:58] iteriani commented on #188
Ok I'll release tonight

On Mon, Sep 2, 2019, 10:45 AM Sam Gammon <notifications@github.com> wrote:

[2019-09-02 21:05] sgammon commented on #188
@iteriani thank you! you guys rock. happy labor day if you're in the US.

[2019-09-03 08:29] QiAnXinCodeSafe opened #189 "Erroneous String Compare"
https://github.com/google/closure-templates/blob/f3aa5254595ab0ab66a0aa8e2a4be23b043a3e52/java/src/com/google/template/soy/data/SanitizedContents.java#L273
Strings should be compared with the equals() method, not == or !=.

[2019-09-03 14:38] lukesandberg commented on #189
Typically that is true, but in this case we are attempting to ensure that
the user is passing us a constant string, by ensuring that it is interned.
So == is correct in this case.

On Tue, Sep 3, 2019 at 1:29 AM 奇安信CodeSafe <notifications@github.com> wrote:

[2019-09-03 15:36] Yannic opened #190 "Build with Bazel"
I've created `BUILD` files for building closure-templates with Bazel, and was wondering whether you'd be open to adding them in this repository?

/cc @robfig @sgammon

[2019-09-03 16:29] iteriani commented on #190
I can take a look at the PR.

[2019-09-03 22:41] iteriani commented on #188
I believe I released just now.

[2019-09-03 22:41] #188 closed

[2019-09-03 22:41] #189 closed

[2019-09-04 01:39] sgammon commented on #188
@iteriani thank you!

[2019-09-06 11:42] Yannic commented on #190
I'll send a PR.

[2019-09-11 10:29] Yannic opened #192 "Add TypeScript sources for idom runtime"
The TypeScript sources got removed in favor of generated closure sources in f6d0b13a00e952bdd6da7dfa27536a436d22e841. Could we get the original TypeScript versions in addition to the closure sources?

[2019-09-11 17:01] Yannic commented on #192
Tooling and IDE integration is a lot better for TypeScript. Extracting the sources from source maps isn't fun, and `TypeScript -- tsickle -> closure -- clutz -> .d.ts` isn't that great.

[2019-09-11 17:04] iteriani commented on #192
We reverted to closure since we didn't know how users could consume .ts
that relies on clutz. Have you found a way?

On Wed, Sep 11, 2019, 10:01 AM Yannic <notifications@github.com> wrote:

[2019-09-11 17:17] Yannic commented on #192
I'm working on TypeScript support in a private fork of rules_closure. It works for most of my usecases, but it's far from working for arbitrary workspaces. Hopefully, it'll become good enough to open source it at some point.

[2019-09-13 20:25] iteriani commented on #192
OK I'll make sure the next push gets the idom sources

[2019-09-14 16:44] Yannic opened #193 "Run StrictDepsPass in SoyHeaderCompiler"
It would be great if `SoyHeaderCompiler` would run `StrictDepsPass`, so we can, e.g., fail the Build already at `soy_library` level and not wait until running the language generators.

Bonus points if it's possible to select between `--strict_deps={OFF,WARN,ERROR}`.

[2019-09-14 16:48] Yannic opened #194 "Run compilers from Java"
It would be great if it was possible to run the compilers from Java, e.g. for use in Bazel persistent workers. Unfortunately, the only (somewhat) public method calls `System.exit`, making it unusable for persistent workers.

[2019-10-09 23:10] iteriani commented on #192
This is done I think...

[2019-10-09 23:10] #192 closed

[2019-10-10 11:46] Yannic commented on #192
Thanks a lot!

[2019-10-26 19:11] iteriani commented on #193
This should be doable. Let me try this

[2019-10-26 19:15] iteriani commented on #194
Hmm I don't know too much about the entry points. Where does it call system.exit

[2019-10-28 19:10] Yannic commented on #194
The entry points all look like this: `new MyCompiler().runMain(args);`
e.g. https://github.com/google/closure-templates/blob/2153cfdf2e985c2c2d502a7c5d84b2610eb196bf/java/src/com/google/template/soy/SoyToPySrcCompiler.java#L116 which calls `System.exit`.

It should be sufficient to remove the `@VisibleForTesting` annotaton here: https://github.com/google/closure-templates/blob/2153cfdf2e985c2c2d50

[2019-10-29 02:15] lukesandberg commented on #194
We should just release the bazel worker entry point we developed
internally.  People shouldn't build their own.

On Mon, Oct 28, 2019 at 12:10 PM Yannic <notifications@github.com> wrote:

[2019-10-29 22:10] iteriani commented on #194
Do we just want to expose soy_java_library?

[2019-10-29 22:33] lukesandberg commented on #194
expose our bazel rules?

Maybe eventually?  im not sure how difficult sharing the code would be, but
it is worth considering.  Releasing UberSoyCompiler for the worker support
would be a good first step

On Tue, Oct 29, 2019 at 3:10 PM iteriani <notifications@github.com> wrote:

[2019-11-18 22:13] mkilpatrick commented on #35
Bumping this. Is there chance this will ever happen?

[2019-12-03 00:14] alexeagle opened #198 "npm package is broken"
https://unpkg.com/browse/google-closure-templates@20190311.0.7/ shows the package contains three files. The .jar files are not present but the index.js tries to execute them:

`require.resolve('./soy_to_js_src_compiler.jar')`

[2019-12-03 00:15] alexeagle commented on #198
seems like this is a dupe of https://github.com/google/closure-templates/issues/176 which was closed without explanation

[2019-12-03 00:26] teppeis commented on #198
@alexeagle related issue: https://github.com/google/closure-templates/issues/69

[2019-12-26 07:38] segabor opened #199 "How do sanitizers work runtime?"
Happy Holidays,

I'm working on Swift port of closure templates and I need your guidance on how content sanitizers are used runtime. At which points are they invoked on what targets?

I ran through the Python code generator and learnt that variables passed through calling other templates are marked dirty and some kind of sanitization are done just before appending to output.
Are my assumptions cor

[2019-12-27 18:25] lukesandberg commented on #199
basically.

The ContextualAutoescaper determines the 'context' for each piece of
dynamic content and then adds escaping directives to the AST.  The
individual backends just generate code to invoke the directives, they don't
actually make sanitization decisions.

The one caveat is that the backends ensure that strings produced by
template blocks are marked as safe.  So the result of every {template

[2020-01-15 17:28] shawnthompson opened #200 "relative paths"
At work I inherited a JavaScript templating  project which is built using Google Closure Templates and I am trying to convert it into a CI/CD project, make it open and let others use it and contribute to it.

## Background ##

The project was created so that web applications and sites that use our template just have to point to a server setup as a CDN that hosted our files.

## Issue ##

All our p

[2020-01-16 18:47] shawnthompson commented on #200
Link to the project: https://github.com/wet-boew/cdts-sgdc

[2020-02-26 22:44] sgammon opened #201 "Recent "special tokens not allowed inside html tags" change breaks existing templates"
Hey there esteemed closure templates authors,

A recent change on this line:
https://github.com/google/closure-templates/blob/9fe82ae851e0562f9bf8a3a2d085ba87df678d61/java/src/com/google/template/soy/soyparse/HtmlRewriter.java#L716

Throws an error for any case involving a "special token" inside an HTML tag. however, that eliminates previously-valid syntax and that change is preventing us from upg

[2020-02-26 22:45] sgammon commented on #201
cc: @emspishak / @iteriani

[2020-02-26 23:19] iteriani commented on #201
This was working as intended. We are currently working on a formatter, so
we are trying to restrict where literal characters appear so we don't drop
down during parsing.

On Wed, Feb 26, 2020 at 2:45 PM Sam Gammon <notifications@github.com> wrote:

[2020-02-27 14:18] Security3rd opened #202 "Please avoid using libraries with CVEs"
Hi, I noticed that your project are using vulnerable libraries which are related to some CVEs. To prevent potential security risks it may cause, I suggest to update the library dependency. See below for details:
* **Vulnerable Library Version:** org.apache.ant : ant : 1.8.3
  **CVE ID:** [CVE-2012-2098](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-2098)
  **Import Path:** pom.xml
  **Su

[2020-02-27 15:50] emspishak commented on #201
A few more details:

The command characters, like `{sp}`, are meant for printing text, so within an html tag they don’t really make sense.

In most cases, it looks like you're adding an `{sp}` at the beginning or end of a line, but the soy html parser handles newlines between attributes and tag names as a separator, and already parses this correctly. In cases like this, you can just delete the `{s

[2020-02-27 16:35] emspishak commented on #202
Thank you for the report! I've submitted a fix internally, it should get pushed to GitHub within a week or so.

[2020-02-28 01:38] sgammon commented on #201
@emspishak @iteriani thank you for the quick response here. yes, that makes sense, but we occasionally get double-spaces in the output between attributes. would that, then, be considered a bug on its own, alleviating the need to use `{sp}` for manual control? that's the goal of the above code

[2020-02-28 01:49] iteriani commented on #201
Is this still true? The Soy compiler these days understands html
attributes, so we pretty much ignore those {sp}s.

On Thu, Feb 27, 2020 at 5:38 PM Sam Gammon <notifications@github.com> wrote:

[2020-03-02 17:23] #202 closed

[2020-03-10 04:06] sgammon commented on #201
hey all-
just wanted to follow up that i believe this to be fixed, and we've repaired our code to remove the offending `{sp}`. thank you for your help!

[2020-03-10 04:06] #201 closed

[2020-03-10 04:15] iteriani commented on #201
Really sorry about this. We'll be releasing a formatter/code fixer for similar issues soon!

[2020-03-20 06:17] sgammon opened #203 "Trusted URIs aren't composable"
Consider the following template:
[code]

From the type names, it's implied that this would work and skip escaping, because, even though the `trusted_resource_uri` we're returning isn't a _constant_ itself, per se, the two items it is _composed of_ are.

Instead, however, invoking this template returns something like:
`https://cdn_prefix.com/some%2Fescaped%2Furl%2Fhere.css`

Which obviously doesn't

[2020-03-24 20:58] orischwartz opened #204 ""source" comment in generated code can produce files that don't compile"
This line https://github.com/google/closure-templates/blob/5aef0db2fdecb92cb1e3d2e926cacb5dc3923a00/java/src/com/google/template/soy/parseinfo/passes/GenerateParseInfoVisitor.java#L349

can lead to files that don't compile on windows because they'll have an illegal unicode escape.

For example, if you have a file called `utils.soy` and run `SoyParseInfoGenerator` on it, it generates code like this

[2020-03-26 17:24] mkilpatrick commented on #35
Bumping again.

[2020-03-27 05:30] iteriani commented on #203
Sorry I dropped this (busy things ahead). This seems like a corner case with a workaround (a soy function), we likely won't get around to something like this until we finish the Soy formatter

[2020-04-20 00:39] samccone opened #207 "bazel build java/src/com/google/template/soy:SoyToPySrcCompiler fails due to missing external import"
Steps to reproduce:

1. clone the repo
2. run `bazel build java/src/com/google/template/soy:SoyToPySrcCompiler`

## Error:

[code]

## Culprit rule:

[code]

[2020-04-20 01:15] samccone commented on #207
I decided to do some digging on maven to understand what is going on

Searching maven:
curl -I https://search.maven.org/remotecontent?filepath=com/google/guava/guava/25.1-jre/guava-25.1-jre.jar

[code]

curl -I https://repo1.maven.org:443/fromsearch?filepath=com/google/guava/guava/25.1-jre/guava-25.1-jre.jar

[code]

Ah so https vs vs http
[code]

Interesting choice of maven to return 501 status c

[2020-04-20 01:19] samccone commented on #207
/shrug

https://blog.sonatype.com/central-repository-moving-to-https
https://support.sonatype.com/hc/en-us/articles/360041287334

[2020-04-20 01:20] samccone opened #209 "soy:SoyToPySrcCompiler fails to compile due to out-of-line definition of 'MergePartialFromCodedStream"
## Command to reproduce error
`bazel build java/src/com/google/template/soy:SoyToPySrcCompiler`

## stack trace
[code]

[2020-04-20 02:47] samccone commented on #209
Ok I think I got to the bottom here, I had an exiting proto install on my system from brew which I was able to purge by following the advice here https://github.com/protocolbuffers/protobuf/issues/5376#issuecomment-570833300

The curious question I have is why is the build rule in this case not hermetic.
This looks to be tracked here from the bazel team: https://github.com/bazelbuild/bazel/issues/

[2020-04-20 02:47] #209 closed

[2020-04-20 02:48] samccone opened #210 "//java/src/com/google/template/soy:SoyToPySrcCompiler failed to build"
## Command

`bazel build java/src/com/google/template/soy:SoyToPySrcCompiler --sandbox_debug`

## Stack

[code]

[2020-04-27 17:16] #207 closed

[2020-04-27 17:16] #210 closed

[2020-06-12 15:17] SimonSchick opened #211 "Plain AST parsing and tree walking?"
Hey, I'm looking to write a small simple tool for enforcing code style/best practises eg. a linter for soy.

I'm a little lost in the code base right now, could you give a simple example of how I would obtain the AST of single file?

[2020-07-17 19:28] k-dauda commented on #138
Has any gotten this working in javascript? I keep getting errors in the browser relating to soy dependencies.
What files do we need from https://github.com/google/closure-templates/tree/master/javascript and does the order matter. Is there a simple JS example somewhere?

[2020-07-17 20:41] k-dauda commented on #132
@craph were you able to get this working in javascript?

[2020-08-20 21:25] mbrukman opened #212 "Broken links in helloworld_java.md"
The latest version of [`documentation/codelabs/helloworlds/helloworld_java.md`][helloworld_java] contains broken links at the very end of the document:

Both of these links are broken:

* `helloworld_js.md` does not exist in the same directory (but would be very useful!)
* `/third_party/java_src/soy/g3doc/concepts/index.md` does not exist in this repo — should this point to
  `/documentation/conce

[2020-09-02 10:26] danechitoaie opened #213 "How can we define a param that is of type list of records?"
I ned to render from JavaScript an array of JSON objects. How can we define this as a param?

I've tried: `@param issues: <[key: string, summary: string]>` but doesn't work.

[2020-10-09 06:38] QiAnXinCodeSafe opened #215 "There is a vulnerability in ICU for C/C++/Java 57.1 ,upgrade recommended"
https://github.com/google/closure-templates/blob/9ef392b396cd2c9975a8b586e7b4a06e63a5ffdf/pom.xml#L281-L286

Related CVE：
CVE-2017-17484
CVE-2017-14952
CVE-2016-6293

Recommended upgrade version：67.1

[2020-11-01 22:33] fresheneesz commented on #198
A year later and no update? Someone at google is dropping the ball really hard.

[2020-11-01 22:38] fresheneesz commented on #138
@emspishak Can you please comment or help find someone who can address this? This has been a problem for years now.

[2020-11-01 22:44] fresheneesz commented on #154
@emspishak Can you please address this?

[2020-11-27 19:10] robfig opened #218 ""Unknown" Type parameter results in failed type checks"
I'm attempting to upgrade our usage of closure templates from 2017-08-08 to 2020-08-24, and I wanted to ask about parameter types. We currently have widespread usage of soydoc params, and I've automatically migrated them to header params with an unknown type, like `{@param NAME: ?}`.

I'm seeing errors like the following:

[code]

The template it's calling has that parameter defined as type `?`:
[

[2020-11-27 19:42] robfig opened #219 "Possible to disable well-formed HTML checks?"
Upgrading to the latest Templates release results in very many HTML validation issues across the codebase. Is it possible to enable/disable HTML validation programmatically, so that we can upgrade applications incrementally? The alternatives of (a) having to do it all at once or (b) have applications on different versions of Closure Templates both seem undesirable.

Thank you

[2020-11-30 02:04] robfig commented on #64
There is now different syntax -- `record()` vs `map()`
https://github.com/google/closure-templates/blob/master/documentation/reference/types.md

This ticket could probably be closed

[2020-11-30 16:21] robfig commented on #219
I found this section in the documentation. Thanks
https://github.com/google/closure-templates/blob/master/documentation/reference/html.md#disabling-html-validation

[2020-11-30 16:21] #219 closed

[2020-11-30 20:44] robfig opened #220 "{msg} tags not allowed in <script type=text/template> ?"
I wanted to ask why {msg} tags are no longer allowed in blocks of type `<script type="text/template">`. These blocks are useful for non-Soy client-side templates and it seems unobjectionable to have localized messages in them.

For example,
[code]

results in an error like
[code]

Extracting all messages into {let} blocks is fairly cumbersome as a workaround, being additional ceremony and making i

[2020-12-01 02:19] robfig opened #221 "Using a variable in a link href"
This template:

[code]

Fails to compile with this error:
[code]

I don't understand why -- it is exactly the third format mentioned in the error message. What am I doing wrong?

[2020-12-01 02:21] robfig commented on #221
To reproduce locally, checkout commit https://github.com/robfig/closure-templates/commit/caaba741453ba6fe546c77ed67ed4750ad51dd2b and run `bazel run  :CompileSoy -- `pwd`/test.soy` from the repo root.

[2020-12-01 13:47] robfig commented on #221
The URL template ```href="/foo/{$appName}/public/stylesheets/styles.css"``` does work. Is it intentional that the first path element is treated differently?

[2020-12-01 14:04] robfig commented on #221
The URL template `href="//{$domain}/foo"` also does not work.

[2020-12-01 17:25] emspishak commented on #218
A few of Soy's newer types (like maps, which replace the legacy_object_map type) purposefully don't interop with the unknown type. For maps, there are technical reasons for this, but we also want to encourage people to use types instead of the unknown type.

For maps specifically, they can't be passed to an unknown-typed parameter (this is what you're seeing) and an object of the unknown type can'

[2020-12-01 17:25] #218 closed

[2020-12-01 17:29] emspishak commented on #64
Correct, thanks @robfig!

The way to do this with maps now is:

[code]

[2020-12-01 17:29] #64 closed

[2020-12-01 21:40] robfig commented on #190
Closure Templates is now built with Bazel, so this issue could be closed

[2020-12-01 21:40] robfig commented on #174
It happens for me in the newest release (run via Bazel)

[2020-12-02 00:35] robfig commented on #218
Ah, if I migrate our legacy map literals to use `legacy_object_map` or `record` instead of map, it works out. This is no problem. Thanks for the insight!

[2020-12-03 15:54] emspishak commented on #190
Bazel support was added with https://github.com/google/closure-templates/commit/c8f994f15922db35b00c126396b16eab6118bc8f and https://github.com/google/closure-templates/commit/93b855feabed26ef50c6f7fe37021d033f8cb86f and improved with https://github.com/google/closure-templates/commit/f4dd3fb8775133a10508621db3390a55817f8872. Test targets were added in https://github.com/google/closure-templates/c

[2020-12-03 15:54] #190 closed

[2020-12-03 22:04] robfig commented on #221
Pinging @emspishak for any thoughts -- is this working as intended?

[2020-12-03 22:23] robfig opened #222 "Guidance requested for JsSrc build setup"
We use Closure Compiler & Closure Library, and previously Soy templates have "just worked". After upgrading to a more recent Soy compiler, it complains about an unsatisfied dependency on "soy.map", which I do not see in Closure Library or soyutils_usegoog.js from the release.

I see that it's defined in `//javascript/soyutils_usemap.js` in this repo. Do you recommend that I vendor that, and any ot

[2020-12-03 22:35] iteriani commented on #222
https://github.com/google/closure-templates/blob/master/javascript/soyutils_map.js

should be it.

On Thu, Dec 3, 2020 at 2:23 PM Rob Figueiredo <notifications@github.com>
wrote:

[2020-12-06 02:24] robfig commented on #222
OK, I'll vendor that file. Thanks!

[2020-12-06 02:24] #222 closed

[2020-12-06 02:25] robfig commented on #220
Here's a patch that treats these blocks as HTML.
https://github.com/yext/closure-templates/commit/5a494e35d4861c5c4ac18c746e93455b36ee151d

That solves this problem as well as some others that arise in their usage.

[2020-12-06 02:25] #220 closed

[2020-12-06 02:26] robfig commented on #213
I think that should be `@param issues: list<[key: string, summary: string]>`

[2020-12-27 23:22] lpellegr commented on #221
@robfig I am quite new to Closure templates and encountered a similar issue. A solution that is working is to pass the URI to set as a param of type `trusted_resource_uri` and then using it as the _href_ attribute value.

[2020-12-28 00:04] lpellegr opened #223 "class com.google.template.soy.data.internal.SoyMapImpl cannot be cast to class com.google.template.soy.data.SoyLegacyObjectMap"
Let's say you have a use case with a param `x` of type `map<string, ?>`. This map includes other nested maps as value. Now, assume you need to access `x['field1']['field2']` for instance. Unfortunately, this does not work out of the box.

Looking at the source code, I was tried to mark nested maps as SoyMap with `com.google.template.soy.data.SoyValueConverter.markAsSoyMap`. Unfortunately, I am sti

[2021-01-25 03:28] theindexer opened #225 "Globals and "or" compiler warning"
When I try to do something like
`{if GLOBAL == 'x' or GLOBAL == 'y' or GLOBAL== 'z'}`
I get a bushel (4, in fact - G==x or G==y, G==x, G==y, G==z) of compiler warnings like
[code]

This seems like a fine use of the `or` operator to me. Yeah the GLOBAL's constant, but I don't know what it's going to be when I'm writing the template. It's my understanding that this is trying to prevent things like `

[2021-02-01 02:13] robfig opened #226 "Open source soy/tools/soyfmt ?"
I see reference to a soyfmt tool in some commits -- just wondering if it's possible (or the plan) to open source it somewhere?

[2021-02-02 05:09] #174 closed

[2021-03-18 14:28] lpellegr opened #227 "Missing Changelog"
Is there any changelog describing what are the main and important changes from a release to another? This looks quite weird for a well-known Google open source project like this one.

[2021-03-18 14:31] lpellegr opened #228 "Missing help with issues"
It looks like no project maintainers are helping the community with questions and issues created for more than a year. Is the project dying? "Google" does not care? or just maintainers don't care?

[2021-03-18 17:18] lukesandberg commented on #228
See https://github.com/google/closure-templates#support-and-project-status for the best description of our support levels.

[2021-07-13 02:24] kennberg commented on #198
Need to include jar files with the npm package.

[2021-07-13 03:39] alexeagle commented on #198
I think you'll just have to go back to the prior version for now, which did include the .jar files.

@iteriani are you still active on the project?

[2022-01-19 10:59] davido opened #577 "Consider create new release from closure-templates@HEAD"
Can you please consider to cut a new release?

GerritCodeReview project was trying to update `guava` dependency to `31.0.1-jre`.

As the consequence, `closure-templates` has to be bumped to `closure-templates@HEAD`.

Temporarily, I conducted this release and published it to my GH fork of `closure-templates`: [1].

It would be great to have a regular release, so that we could consume new version of

[2022-01-31 08:11] poucet opened #589 "Question about soy reportWarnings"
Hi,

We use soy templates in our server-side to render a simple `<gr-app id="app"></gr-app>` template that is then used by our client-side lit code to hook up the full web-app.

We've recently upgraded and we now get the following warning:
[code]

Given how our code is structured, I don't think this warning is relevant for us.

- What is the purpose behind this warning?
- Is there a way to turn it

[2022-03-07 23:25] emspishak commented on #577
This is done now.

https://github.com/google/closure-templates/commit/cf8e2908c532e4bec87256b78e5682ae032e0f5d is a pretty big change in that it no longer allows `.` before template names. So we released https://github.com/google/closure-templates/releases/tag/release-2022-03-02 right before that commit (which is the most up-to-date release that still allows `.` template names) and https://github.

[2022-03-07 23:25] #577 closed

[2022-06-06 08:33] QiAnXinCodeSafe opened #723 "There is a vulnerability in ICU for C/C++/Java 57.1,upgrade recommended"
https://github.com/google/closure-templates/blob/f7bfec7997e32f1c6ccab96ad1c66544fd4ccc95/pom.xml#L294-L297

CVE-2016-6293 CVE-2016-7415  CVE-2017-14952 CVE-2017-17484 CVE-2017-7867
Recommended upgrade version：

67.1

[2022-06-06 08:38] QiAnXinCodeSafe opened #724 "There is a vulnerability in google-gson 2.7,upgrade recommended"
https://github.com/google/closure-templates/blob/f7bfec7997e32f1c6ccab96ad1c66544fd4ccc95/pom.xml#L314-L318

CVE-2022-25647

Recommended upgrade version：
2.8.9

[2022-06-15 09:06] NeilFraser commented on #78
I'd like to point out that the files in http://dl.google.com/closure-templates/closure-templates-for-javascript-latest.zip are all dated from 2014!  So on the one hand, @Dominator008 doesn't appear to have to worry about new releases.  But on the other hand, the jar file is so old that it no longer runs with modern versions of Java (which broke my project).

[2022-07-01 12:53] awdavis opened #747 "SoyToJsSrcCompiler.jar is out of date"
In the download at https://dl.google.com/closure-templates/closure-templates-for-javascript-latest.zip referenced in https://github.com/google/closure-templates/blob/master/documentation/codelabs/helloworlds/helloworld_js.md, the provided file for `SoyToJsSrcCompiler.jar` is out of date. It does not support the current syntax and has outdated flags. Please provide an updated version of the jar fil

[2022-07-12 21:34] emspishak commented on #747
You can find more recent builds of Soy releases at https://mvnrepository.com/artifact/com.google.template/soy . If you click the "View All" link in the "Files" row of the table for a release (for example, on https://mvnrepository.com/artifact/com.google.template/soy/2022-03-07 ) you can then download the runnable JAR for the Soy-to-JS compiler for the release ([soy-2022-03-07-SoyToJsSrcCompiler.ja

[2022-07-20 16:08] emspishak commented on #724
This was updated in https://github.com/google/closure-templates/commit/ec46d5c9e3dc20246feb3f26962b84500ef1a624

[2022-07-20 16:08] #724 closed

[2022-07-20 16:08] emspishak commented on #723
This was updated in https://github.com/google/closure-templates/commit/ec46d5c9e3dc20246feb3f26962b84500ef1a624

[2022-07-20 16:08] #723 closed

[2022-07-20 16:09] emspishak commented on #215
This was updated in https://github.com/google/closure-templates/commit/ec46d5c9e3dc20246feb3f26962b84500ef1a624

[2022-07-20 16:09] #215 closed

[2022-08-01 00:54] gorohash commented on #69
Is there any update for this? npm package and release notes of Closure Templates are needed in my project.

Thanks for continuing to release Closure Templates!

[2022-08-02 01:07] teppeis opened #832 "Remove `--deps` from CLI usage message"
`--deps` flag is removed in db4d686a7, but CLI help shows it.

[code]
https://github.com/google/closure-templates/blob/de96f5734eada6780c3574a106809d3eda0a62b6/java/src/com/google/template/soy/AbstractSoyCompiler.java#L77

[2022-08-02 07:55] gorohash opened #833 "What kind of path can be specified in import statements?"
The documentation only mentions `'path/to/soy/file/foo.soy'` about what kind of path should be specified in import statements.
Therefore, I have tried several patterns and expect that paths to soy file specified in import statements must match the format specified in the `--srcs` option.
However, this way is unstable because it depends on the working directory of executing compilation.
Please let